RewriteEngine on

# skip JS, CSS and images
RewriteRule \.(css|js|png|jpg|gif|jpeg)$ - [L]
RewriteRule ^([^/]+)/([^/]+)/([0-9]+)/([^/]+)/([0-9]+)$ index.php?&module=$1&view=$2&viewname=$3&search_params=$4&nolistcache=$5 [NE,QSA]
RewriteRule ^([^/]+)/(List|Edit|DashBoard|Import|Export|Calendar|SharedCalendar|EditFolder)$	index.php?module=$1&view=$2  [NE,QSA]
RewriteRule ^([^/]+)/(Save|Delete|DeleteImage|ExportData|MassDelete|MassSave|NoteBook|ProcessDuplicates|TagCloud)$	index.php?module=$1&action=$2  [NE,QSA]

RewriteRule ^([^/]+)/(List|Edit|DashBoard|Import|Export|Calendar|SharedCalendar|EditFolder)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$    index.php?module=$1&view=$2&app=$3  [NE,QSA]

RewriteRule ^([^/]+)/(Detail|Edit)/([0-9]+)$       index.php?module=$1&view=$2&record=$3  [NE,QSA]

RewriteRule ^(Detail|Edit)/([^/]+)/([0-9]+)$       index.php?view=$1&module=$2&record=$3  [NE,QSA]

RewriteRule ^([^/]+)/(List|Edit|Calendar)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$       index.php?module=$1&view=$2&app=$3  [NE,QSA]

RewriteRule ^(Calendar)/(Edit)/(Calendar|Events)$	index.php?module=$1&view=$2&mode=$3  [NE,QSA]

RewriteRule ^(Home)/(DashBoard)/([0-9]+)$   index.php?module=$1&view=$2&tabid=$3  [NE,QSA]

RewriteRule ^(Home)/(DashBoard)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$   index.php?module=$1&view=$2&app=$3  [NE,QSA]

RewriteRule ^(PurchaseOrder)/(Edit)/([0-9]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$      index.php?module=PurchaseOrder&view=Edit&invoice_id=$3&app=$4 [NE,QSA]

RewriteRule ^(Invoice|PurchaseOrder)/(Edit)/([0-9]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$      index.php?module=PurchaseOrder&view=Edit&salesorder_id=$3&app=$4 [NE,QSA]

RewriteRule ^(PurchaseOrder|Invoice|SalesOrder)/(Edit)/([0-9]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$      index.php?module=PurchaseOrder&view=Edit&quote_id=$3&app=$4 [NE,QSA]

RewriteRule ^([^/]+)/(Detail|Edit|Calendar)/([0-9]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$	index.php?module=$1&view=$2&record=$3&app=$4  [NE,QSA]

RewriteRule ^([^/]+)/(Detail|Edit|Calendar)/(Calendar)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$    index.php?module=$1&view=$2&mode=Calendar&app=$4  [NE,QSA]

RewriteRule ^([^/]+)/(Detail)/([^/]+)$      index.php?module=$1&view=$2&record=$3 [NE,QSA]

RewriteRule ^([^/]+)/(ExportPDF)/([0-9]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$      index.php?module=$1&action=$2&record=$3&app=$4 [NE,QSA]

RewriteRule ^([^/]+)/(List)/([0-9]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$	index.php?module=$1&view=$2&viewname=$3&app=$4  [NE,QSA]

RewriteRule ^([^/]+)/(List)/([0-9]+)$   index.php?module=$1&view=$2&viewname=$3  [NE,QSA]

RewriteRule ^(Contacts|Calendar)/(Extension)/(Google)/(Index)$       index.php?module=$1&view=Extension&extensionModule=Google&extensionView=Index  [NE,QSA]

RewriteRule ^(Contacts|Calendar)/(Extension)/(Google)/(Index)/(settings)$       index.php?module=$1&view=Extension&extensionModule=Google&extensionView=Index&mode=settings  [NE,QSA]

RewriteRule ^(Contacts|Calendar)/(Settings)/(Extension)/(Google)/(Index)/(settings)/([0-9]+)/([0-9]+)$       index.php?module=$1&parent=$2&view=Extension&extensionModule=Google&extensionView=Index&mode=settings&block=$7&fieldid=$8  [NE,QSA]

RewriteRule ^(Contacts|Calendar)/(Settings)/(Extension)/(Google)/(Index)/(settings)$       index.php?module=$1&parent=$2&view=Extension&extensionModule=Google&extensionView=Index&mode=settings  [NE,QSA]

RewriteRule ^(Contacts|Calendar)/(Extension)/(Google)/(Index)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$       index.php?module=$1&view=Extension&extensionModule=Google&extensionView=Index&app=$5  [NE,QSA]

RewriteRule ^(Users)/(Logout)$    index.php?module=$1&action=$2  [NE,QSA]

RewriteRule  ^(ModuleManager)/(Settings)/(ModuleImport)/(importUserModuleStep1)$   index.php?module=ModuleManager&parent=Settings&view=ModuleImport&mode=importUserModuleStep1  [NE,QSA]

RewriteRule  ^(Workflows)/(Settings)/(Edit)/(V7Edit)/([^/]+)$   index.php?module=Workflows&parent=Settings&view=Edit&mode=V7Edit&source_module=$5  [NE,QSA]

RewriteRule  ^(Workflows)/(Settings)/(Edit)/(V7Edit)$   index.php?module=Workflows&parent=Settings&view=Edit&mode=V7Edit  [NE,QSA]

RewriteRule  ^(Workflows)/(Settings)/(Edit)/([^/]+)/([[^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$     index.php?module=Workflows&parent=Settings&view=Edit&record=$4&mode=V7Edit&returnmodule=Workflows&returnparent=Settings&returnpage=$8&returnview=$9  [NE,QSA]

RewriteRule  ^(Workflows)/(Settings)/(List)/([^/]+)/([[^/]+)/([^/]+)$   index.php?module=Workflows&parent=Settings&view=List&sourceModule=$4&page=$5&search_value=$6  [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/(GetPrintReport)/([^/]+)$   index.php?module=$1&view=$2&mode=$3&record=$4  [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/(All)$   index.php?module=$1&view=$2&folder=$3  [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(Quote)$	index.php?module=$1&view=$2&quote_id=$3  [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/(Calendar)/([^/]+)/([^/]+)$ index.php?module=$1&parent=$2&view=$3&mode=$4&record=$5 [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/(Detail|Edit|Calendar)/([0-9]+)$ index.php?module=$1&parent=$2&view=$3&record=$4 [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/(Detail|Edit)/([^/]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$ index.php?module=$1&parent=$2&view=$3&record=$4&app=$5 [NE,QSA]

RewriteRule ^([^/]+)/(Detail)/([^/]+)/(Edit)/([^/]+)/([^/]+)$ index.php?module=$1&view=$2&module=$3&view=$4&account_id=$5&contact_id=$6 [NE,QSA]

RewriteRule ^([^/]+)/(Detail)/([^/]+)/(Edit)/([^/]+)$ index.php?module=$1&view=$2&module=$3&view=$4&salesorder_id=$5 [NE,QSA]

RewriteRule ^([^/]+)/(MergeRecord)/([^/]+)/([^/]+)  index.php?module=$1&view=$2&records=$3&triggerEventName=$4  [NE,QSA]

RewriteRule ^(Calendar)/([^/]+)/([^/])$ index.php?module=Calendar&view=$2&mode=$3  [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/(clearCorruptedData)$ index.php?module=$1&view=$2&mode=$3  [NE,QSA]

RewriteRule ^(Calendar)/([^/]+)/([^/]+)/([^/]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$ index.php?module=Calendar&view=$2&mode=$3&parent_id=$4&app=$5  [NE,QSA]

RewriteRule  ^([^/]+)/(Edit)/([^/]+)/([^/]+)/([^/]+)/(true)/([^/]+)$ index.php?module=$1&view=$2&mode=$3&sourceModule=$4&sourceRecord=$5&relationOperation=$6&parent_id=$7 [NE,QSA]

RewriteRule ^(CustomView)/([^/]+)/([^/]+)/([^/]+)$ index.php?module=$1&action=$2&sourceModule=$3&record=$4  [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/(cancelImport)/([^/]+) index.php?module=$1&view=$2&mode=cancelImport&import_id=$4  [NE,QSA]

RewriteRule ^([^/]+)/(Edit)/([^/]+)/Copy/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$  index.php?module=$1&view=Edit&record=$3&isDuplicate=true&app=$4	[NE,QSA]

RewriteRule ^([^/]+)/(Edit|ChartEdit)/([^/]+)/Copy$  index.php?module=$1&view=$2&record=$3&isDuplicate=true  [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/(CopyEdit)/([0-9]+)  index.php?module=$1&parent=$2&view=Edit&from_record=$4

RewriteRule ^([^/]+)/(Import)/([^/]+)/(index)  index.php?module=$1&view=Import&return_module=$2&return_action=index [NE,QSA]

RewriteRule ^(Import)/([^/]+)/(List)/([^/]+)/([^/]+)  index.php?module=$1&for_module=$2&view=$3&start=$4&foruser=$5 [NE,QSA]

RewriteRule ^([^/]+)/(Import)/(undoImport)/([^/]+)  index.php?module=$1&view=Import&mode=undoImport&foruser=$3 [NE,QSA]

RewriteRule ^([^/]+)/(MergeRecord)/([^/]+)/([^/]+)	index.php?module=$1&view=MergeRecord&records=$3&triggerEventName=$4	[NE,QSA]

RewriteRule ^(ProductsPopup)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$	index.php?view=$1&module=$2&multi_select=$3&currency_id=$4&triggerEventName=$5 [NE,QSA]

RewriteRule ^(Documents)/(DownloadFile)/([^/]+)/([^/]+)$        index.php?module=$1&action=$2&record=$3&fieldid=$4 [NE,QSA]

RewriteRule ^(Documents)/([^/]+)/([^/]+)/([^/]+)/(true)$	index.php?module=$1&view=$2&sourceModule=$3&sourceRecord=$4&relationOperation=$5   [NE,QSA]

RewriteRule ^([^/]+)/(FindDuplicates)/([^/]+)/([^/]+)/([^/]+)  index.php?module=$1&view=FindDuplicates&fields=$3&ignoreEmpty=$4&saveButton=$5	[NE,QSA]

RewriteRule ^(Calendar)/([^/]+)/([^/]+)/(showDetailViewByMode)/([^/]+)$	index.php?module=$1&view=$2&record=$3&mode=$4&requestMode=$5   [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(showDetailViewByMode)/([^/]+)$	index.php?module=$1&view=$2&record=$3&mode=$4&requestMode=$5   [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/(Popup)/([^/]+)$ index.php?module=$1&src_module=$2&src_record=$3&multi_select=$4&view=$5&triggerEventName=$6

RewriteRule ^([^/]+)/(Edit)/(Contacts)/([^/]+)/([^/]+)/([^/]+)$	index.php?module=$1&view=$2&sourceModule=$3&sourceRecord=$4&relationOperation=$5&contact_id=$6	[NE,QSA]

RewriteRule ^([^/]+)/(Edit)/(Accounts)/([^/]+)/([^/]+)/([^/]+)$	index.php?module=$1&view=$2&sourceModule=$3&sourceRecord=$4&relationOperation=$5&account_id=$6	[NE,QSA]

RewriteRule ^([^/]+)/(Edit)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$	index.php?module=$1&view=Edit&sourceRecord=$3&sourceModule=$4&potential_id=&5&relationOperation=$6	[NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(true)/(Popup)/([^/]+)$	index.php?module=$1&src_module=$2&src_record=$3&multi_select=true&view=Popup&triggerEventName=$6	[NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(showDetailViewByMode)/([^/]+)/([^/]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$	index.php?module=$1&view=$2&record=$3&mode=showDetailViewByMode&requestMode=$5&tab_label=$6&app=$7   [NE,QSA]

RewriteRule ^([^/]+)/(Detail)/([0-9]+)/(showChart)/([^/]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$  index.php?module=Project&view=Detail&record=$3&mode=showChart&tab_label=$5&app=$6   [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(showDetailViewByMode)/([^/]+)/([^/]+)$    index.php?module=$1&view=$2&record=$3&mode=showDetailViewByMode&requestMode=$5&tab_label=$6   [NE,QSA]

RewriteRule ^([^/]+)/(SendEmail)/(composeMailData)/([^/]+)/([^/]+)$	index.php?module=$1&view=$2&mode=$3&record=$4&triggerEventName=$5 [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(showAllComments)/([^/]+)	index.php?module=$1&view=$2&record=$3&mode=showAllComments&tab_label=$5   [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(showRecentActivities)/([^/]+)/([^/]+)	index.php?module=$1&view=$2&record=$3&mode=showRecentActivities&page=$5&tab_label=$6   [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(showHistory)/([^/]+)/([^/]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$     index.php?module=$1&view=$2&record=$3&mode=showHistory&page=$5&tab_label=$6&app=$7   [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/(showRelatedList)/([0-9]+)/([^/]+)/(SALES|MARKETING|INVENTORY|SUPPORT|PROJECT)$		index.php?module=$1&relatedModule=$2&view=$3&record=$4&mode=showRelatedList&relationId=$6&tab_label=$7&app=$8	[NE,QSA]

RewriteRule ^(Documents)/([^/]+)/([^/]+)/([^/]+)/(true)/([^/]+)/([^/]+)/([^/]+)$	index.php?module=$1&view=$2&sourceModule=$3&sourceRecord=$4&relationOperation=$5&relatedcontact=$6&relatedorganization=$7&amount=$8   [NE,QSA]

RewriteRule ^(ModComments)/(DownloadFile)/([0-9]+)/([0-9]+)$ index.php?module=ModComments&action=DownloadFile&record=$3&fileid=$4  [NE,QSA]

RewriteRule ^(Reports)/(ChartEdit|ChartDetail)/([0-9]+)$  index.php?module=Reports&view=$2&record=$3  [NE,QSA]

RewriteRule ^(Reports)/(ChartEdit|ChartDetail)/([^/]+)$  index.php?module=Reports&view=$2&folder=$3  [NE,QSA]

RewriteRule ^(Settings)/([^/]+)/(MappingDetail)$  index.php?parent=$1&module=$2&view=$3  [NE,QSA]

RewriteRule ^(Settings)/([^/]+)/([^/]+)$  index.php?parent=$1&module=$2&sourceModule=$3  [NE,QSA]

RewriteRule ^(Settings)/(Picklist)/([^/]+)/([^/]+)$  index.php?parent=$1&module=$2&view=$3&source_module=$4  [NE,QSA]

RewriteRule ^(Settings)/([^/]+)/([^/]+)/([0-9]+)$  index.php?parent=$1&module=$2&view=$3&record=$4  [NE,QSA]

RewriteRule ^(Settings)/([^/]+)/([^/]+)/([^/]+)$  index.php?parent=$1&module=$2&view=$3&sourceModule=$4  [NE,QSA]

RewriteRule ^(Roles)/(Settings)/(Edit)/([^/]+)$ index.php?module=$1&parent=$2&view=$3&record=$4 [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/([^/]+)/([^/]+)$  index.php?module=$1&parent=Settings&view=$3&sourceModule=$4  [NE,QSA]

RewriteRule ^(Users)/(Settings)/(Detail|Edit)/([0-9]+)/([^/]+)$ index.php?module=$1&parent=$2&view=$3&record=$4&parentblock=$5 [NE,QSA]

RewriteRule ^(Head)/(Credits)/(Settings)$ index.php?module=$1&view=$2&parent=$3 [NE,QSA]

RewriteRule ^(Settings)/([^/]+)/([^/]+)/([0-9]+)/([^/]+)$ index.php?parent=$1&module=$2&view=$3&block=$4&fieldid=$5 [NE,QSA]

RewriteRule ^(Head|Users|MailPlus|Workflows|ModuleManager|Profiles|Groups|Webforms|MenuEditor)/(Settings)/([^/]+)$ index.php?module=$1&parent=$2&view=$3 [NE,QSA]

RewriteRule ^(Head)/(Settings)/(CompanyDetails)/([^/]+)/([^/]+)/([^/]+)$ index.php?module=$1&parent=$2&view=$3&block=$4&fieldid=$5&error=$6 [NE,QSA]

RewriteRule ^(Users)/(PreferenceDetail|PreferenceEdit)/([^/]+)/([^/]+)$ index.php?module=$1&view=$2&parent=$3&record=$4 [NE,QSA]

RewriteRule ^(Roles)/(Settings)/(Edit)/([^/]+)$ index.php?module=$1&parent=$2&view=$3&record=$4 [NE,QSA]

RewriteRule ^(Roles)/(Settings)/(Edit)/([^/]+)/(create)$ index.php?module=$1&parent=$2&view=$3&parent_roleid=$4&mode=create [NE,QSA]

RewriteRule ^([^/]+)/([^/]+)/(Settings)/([0-9]+)/([0-9]+)$ index.php?module=$1&view=$2&parent=$3&block=$4&fieldid=$5 [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/([^/]+)/([0-9]+)/([0-9]+)$ index.php?module=$1&parent=$2&view=$3&block=$4&fieldid=$5 [NE,QSA]

RewriteRule ^([^/]+)/(Settings)/([^/]+)/([0-9]+)/([0-9]+)/([0-9]+)$ index.php?module=$1&parent=$2&view=$3&record=$4&block=$5&fieldid=$6 [NE,QSA]

RewriteRule ^(MailConverter)/([^/]+)/([^/]+)/([^/]+)/(new)$ index.php?module=$1&parent=$2&view=$3&mode=$4&create=$5 [NE,QSA]

RewriteRule ^(MailConverter)/([^/]+)/([^/]+)/([^/]+)/(new)/([0-9]+)$ index.php?module=$1&parent=$2&view=$3&mode=$4&create=$5&record=$6 [NE,QSA]

RewriteRule ^(MailConverter)/(Settings)/([0-9]+)/([^/]+)/([^/]+)/([^/]+)$  index.php?module=MailConverter&parent=Settings&record=$3&create=$4&view=$5&mode=$6  [NE,QSA]
RewriteRule ^(Documents)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/(true)$ index.php?module=$1&view=$2&sourceModule=$3&return_action=$4&sourceRecord=$5&parent_id=$6&relationOperation=$7 [NE,QSA]

RewriteRule ^([^/]+)/(Export)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$  index.php?module=$1&view=$2&selected_ids=$3&excluded_ids=$4&viewname=$5&page=$6&search_params=$7  [NE,QSA]

RewriteRule ^value1=([^/]+)/value2=([^/]+)$ index.php?value1=$1&value2=$2 [NE,QSA]

RewriteRule ^(EmailTemplates)/(Settings)/(List)/([^/]+)$ index.php?module=EmailTemplates&parent=Settings&view=List&triggerEventName=$4 [NE,QSA]

RewriteRule ^(Popup)/(Documents)/(Emails)/(composeEmail)/([^/]+)$ index.php?view=Popup&module=Documents&src_module=Emails&src_field=composeEmail&triggerEventName=$5 [NE,QSA]

RewriteRule ^([^/]+)/(Emails)/(EmailsRelatedModulePopup)/([^/]+)$ index.php?module=$1&src_module=Emails&view=EmailsRelatedModulePopup&triggerEventName=$4 [NE,QSA]

RewriteRule ^(EmailPlus)/([^/]+)$ index.php?module=$1&view=$2 [NE,QSA]

RewriteRule ^(DuplicateCheck)/(Settings)/(List)$ index.php?module=DuplicateCheck&parent=Settings&view=List  [NE,QSA]

RewriteRule ^(DuplicateCheck)/(Settings)/(List)/([^/]+)$ index.php?module=DuplicateCheck&parent=Settings&view=List&sourceModule=$4  [NE,QSA]

RewriteRule ^(DuplicateCheck)/(Settings)/(List)/([^/]+)/(notify=([^/]+))$ index.php?module=DuplicateCheck&parent=Settings&view=List&sourceModule=$4&notify=$5  [NE,QSA]

RewriteRule ^(Users)/(Login)/(status=1)$ index.php?module=$1&view=$2&status=$3  [NE,QSA]

RewriteRule ^(Users)/(Login)/(statusError=1)$ index.php?module=$1&view=$2&statusError=$3  [NE,QSA]

RewriteRule ^(Users)/(Login)/(fpError=1)$ index.php?module=$1&view=$2&fpError=$3  [NE,QSA]

RewriteRule ^(AddressLookup)/(Settings)/(List)$ index.php?module=AddressLookup&parent=Settings&view=List [NE,QSA]

RewriteRule ^(AddressLookup)/(Settings)/(List)/([^/]+)$ index.php?module=AddressLookup&parent=Settings&view=List&sourceModule=$4 [NE,QSA]

RewriteRule ^(AddressLookup)/(Settings)/(List)/([0-9]+)/([0-9]+)$ index.php?module=AddressLookup&parent=Settings&view=List&block=$4&fieldid=$5 [NE,QSA]

RewriteRule ^(AddressLookup)/(Settings)/(List)/([^/]+)/(success)$ index.php?module=AddressLookup&parent=Settings&view=List&sourceModule=$4&success=1  [NE,QSA]

RewriteRule ^(AddressLookup)/(Settings)/(List)/([^/]+)/(check=([^/]+))$ index.php?module=AddressLookup&parent=Settings&view=List&sourceModule=$4&check=$5  [NE,QSA]

RewriteRule ^(AddressLookup)/(Settings)/([^/]+)/([^/]+)/(error)$ index.php?module=AddressLookup&parent=Settings&view=$3&sourceModule=$4&error=1 [NE,QSA]

<IfModule mod_headers.c>
    Header set x-xss-protection "1; mode=block"
    Header always set x-frame-options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
</IfModule>
