.settings { margin-top: 10px; width: 500px !important; color: #000;}

/*****************Users start*****************/
/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{    }*/
/*****************Users End*****************/

/*****************Roles start*****************/
/*****************Roles End*****************/

/*****************Profiles start*****************/
/*****************Profiles End*****************/

/*****************Sharing Rules start*****************/
/*****************Sharing Rules End*****************/

/*****************Groups start*****************/
    
/*.table#listview-table>tbody>tr>td:first-child { 
    border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-bottom:1px solid #ddd !important;
    
}
    .listViewEntries td:not(:first-child){
        border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-bottom:1px solid #ddd !important;}
    
    #listview-table tbody tr td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
        padding-left: 10px;}


.listview-table>thead>tr:first-child>th, .listview-table>tbody>tr:first-child>th
    { padding: 10px }
    
.listViewActions{ padding-top: 0px; padding-bottom: 50px; padding-right: 20px;}    
*/  


/*****************Groups End*****************/

/*****************Login History start*****************/




.usersListDiv{ padding: 0px 0px 36px 32px;}
 

/*#listview-table tbody tr td {
  padding-top: 8px !important;
  padding-bottom: 8px !important;border: solid 1px #ddd; padding-left: 10px; }*/

/*****************Login History End*****************/

/*****************Module Manager start*****************/
input[type=checkbox]:checked::after {
    content: "\2714" !important;
    top: -1px !important;
    left: 2px !important;
    font-size: 11px;
    font-weight: bold;
    }
    .moduleManagerBlock .moduleName h5 {
    font-size: 15px;
   
        margin-top: 9px;}

.main-container .settingsPageDiv.content-area.clearfix input{ border-radius: 1px;}

   .settingsPageDiv.content-area.clearfix .ModulemanagerSettings .btn-group.actions {
    width: 91px;
        margin-top: 0px;}
    .main-container .settingsPageDiv.content-area.clearfix input{ border-radius: 5px;}
 
/*****************Module Manager End*****************/

/*****************Module Layout files start*****************/






/*****************Module Layout files End*****************/

/*****************Module Studio start*****************/






/*****************Module Studio End*****************/

/*****************Module Numbering start*****************/






/*****************Module Numbering End*****************/

/*****************Kanban view start*****************/






/*****************Kanban view End*****************/   

/*****************DuplicateCheck start*****************/



    
   .logo-container .mobilelogo{ display: none;}
    
.widget_header{ background-color: #fff; margin-top: 50px; border-radius: 10px; }
.widget_header h3{ font-size: 15px;text-transform: uppercase;  padding: 0px 0px 10px 26px; }
.widget_header h4{ font-size: 15PX; margin: 15px 0px 0px 25px; }
.moduleBlocks{ padding: 25px;}

.fa-toggle-on:before{
    padding: 10px;
    display: inline-block;}
.circle{ padding: 8px; font-size: 10px;}  
.select2-container .select2-choice { padding: 3px 0px 3px 0px;}

input[type=checkbox]:checked::after {
    content: "\2714" !important;
    top: -3px !important;
    left: 0px !important;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    color: white;
    background: #0162e8;
    width: 14px;
    text-align: center;
}
input[type=checkbox]:checked {
    border: 1px solid #0162e8 !important;
}
/*****************DuplicateCheck End*****************/ 
    
/*****************AddressLookup start*****************/   
.settingsPageDiv.content-area.clearfix{ background-color: #ECF0F5 !important;	 }

.joforce-bg #vtaddresslookup{ padding-bottom: 10px; }



.select2-container .select2-choice{ padding: 3px 0px 3px 0px; background-color: #fff !important;  }
    
#addFormFieldRow thead tr  th{}


.onoffswitch1-switch{ margin:.5px 1px 0px 0; border: 1px solid #999999 !important;}
.onoffswitch1-label{ border: solid 1px #999; }
/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding: 20px 0px 22px 23px;}*/


.onoffswitch1-switch{ width: 30px; height: 30px;}
.onoffswitch1-inner:before, .onoffswitch1-inner:after{ width: 50% !important; font-size: 11px;}
.select2-arrow b{ background-position: 0px 21px ;}



#addFormFieldRow thead tr th{ border: solid 1px #ddd; }

.input#APIkey:focus{ outline: none !important; }
.input#APIkey{ width: 330px; }

.btn.joforce-default{ color: red}

.onoffswitch1-inner:after{ background-color: #fff; }

.onoffswitch1-inner:before, .onoffswitch1-inner:after{ box-shadow: none; }


/*****************AddressLookup End*****************/   
    

/*****************Workflows start*****************/


.work{ margin-top: 40px; margin-bottom: 40px;} 
/*.table-container, .table.listview-table { border: none; border: solid 1px #ddd;}*/


/*****************Workflows End*****************/   

/*****************Webforms start*****************/

/*****************Webforms End*****************/  
    
    
    
/***************** Mail Converterstart*****************/

/***************** Mail Converter End*****************/    
    
    
    
/***************** Mail Converterstart*****************/

    

   
.list-content{ margin-top: 30px;}




/***************** Mail Converter End*****************/    
    
    
 /*****************setting-top start*****************/
.settings_search {height:50px;}

      .settingsPageDiv #search_settings {
  background-color: white;
  margin: 15px;
  border: none !important;
  border-bottom: 1px solid #e8e8e8 !important;
  color: #7a7a7a !important;
  padding: 5px 10px 5px 25px !important;
  background: url(images/magnifier.png) no-repeat left; 
  position: absolute; 
  margin-top: 50px;
        margin-right: 30px

}
  .settingsPageDiv #search_settings:focus {
    border-color: #0c4da2 !important;
    outline: 0; }
  .settingsPageDiv #search_settings:hover {
    border-color: #969696 !important; }
    
    
    .main-header-center{flex: 1;
    margin: 0 50px;
    position: relative;
    display: none;
}
   
    main-header-left .form-control {
    width: 200px;
}

.main-header-left .form-control {
    height: 40px;
    border-radius: 20px;
    background: #ecf0fa;
    border: 1px solid #ecf0fa;
}

    .search-list { background-color: transparent !important; margin-top: 50px;}
/*****************setting-top End*****************/   
.search-link {
    padding-right: 0px !important;
    border: 1px solid #ecf0fa;
    width: 60%;
    border-radius: 50px;
    margin-left: 40px;
    position: relative;
    float: left;
    display: inline-block;
    height: 40px;
    color: #aaa;
    margin-top: 10px;
    padding: 0 10px;
    text-decoration: none;
    vertical-align: top;
    background:#ecf0fa;
}
   
    .Search .settings{background: url(images/magnifier.png) no-repeat left;  }    
    
    .editViewContainer{ padding-left: 300px;}
    
    .editViewContents .fieldBlockContainer, .summaryView{
        box-shadow: none;}
     
/* admin settings */
  .settingsgroup .panel-group .panel, .settingsgroup div.panel-collapse, .settingsgroup, .app-switcher-container .app-navigator {  background-color: #3E516D !important; }
.settingsPageDiv #listview-actions .usersinfo.textOverflowEllipsis { padding: 0px; }
.settingsPageDiv .modal-overlay-footer {  margin-left: 0px !important; }
.settingsIndexPage pre {background: #fff; border: none; font-size: 15px; }
.settingsIcon.open .dropdown-menu > li > a { padding: 8px 10px; }
.settingsIcon.open .dropdown-menu > li > a:hover { color: #333 !important; }
.serversettings-table tbody { margin-top: 40px !important;  display: table; }
.serversettings-table tbody tr td { border: none !important; text-align: left !important; }
.main-container .settingsgroup { background: #303030 !important; height: 100%; }
.main-container .settingsgroup .panel-group { padding-top: 45px !important; }
.main-container .settingsgroup .panel-group .panel { background: #303030 !important; }
.main-container .settingsgroup .panel-group .panel .app-nav a { font-size: 15px !important; }
.main-container .settingsgroup .panel-group .panel .list-group.widgetContainer { background: #303030; }
.main-container .settingsgroup .panel-collapse.ulBlock ul li a { font-size: 15px !important; }
.settingsPageDiv.content-area.clearfix .ModulemanagerSettings .moduleImage { padding-right: 0px; }
.settingsPageDiv.content-area.clearfix .ModulemanagerSettings .moduleImage .alignMiddle { float: right; }
.settingsPageDiv.content-area.clearfix .ModulemanagerSettings .moduleName { padding-left: 5px; }
.panel-collapse ul li a:hover, .panel-collapse ul li a.settingsgroup-menu-color {  background: #212121 !important; }

.settingsPageDiv #search_display { display: inline-block; margin-top: 10px; min-width: 100%; overflow-x: hidden; }
.settingsPageDiv #search_display ul.result_found { padding: 0px; }
.settingsPageDiv #search_display ul.result_found.row { margin: 0px; }
.settingsPageDiv #search_display ul.result_found li { list-style: none; margin: 25px 20px; text-align: center; width: 16%; height: 80px; }
.settingsPageDiv #search_display #empty_settings {text-align: center;width: 100%; }

.admin-settings .settings-list li { width: 12%; list-style: none; text-align: center; margin: 25px 20px; display: inline-table; white-space: normal; cursor: pointer; }
.admin-settings .settings-list li a {text-align: center; color: #333; font-weight: 500; font-size: 15px; }
.admin-settings .settings-list li label:after, .settingsPageDiv #search_display ul.result_found li a.ref_search label:afte { content: " "; width: 76px; height: 76px;position: absolute;border-radius: 50%;visibility: hidden;border: 3px solid #7a7a7a;top: -9px;left: -9px;transition: 0.5s all;animation: circles 0.5s linear; }
.admin-settings .settings-list li p , .settingsPageDiv #search_display ul.result_found li a.ref_search p{font-size: 15px; color: #333; transition: 0.5s all; }
.admin-settings .settings-list li:hover label, .settingsPageDiv #search_display ul.result_found li:hover label { background: #616161; border-color: #7a7a7a; color: #fff; }
.admin-settings .settings-list li label:after,.settingsPageDiv #search_display ul.result_found li:hover label:after { content: " "; width: 76px; height: 76px; position: absolute; border-radius: 50%; visibility: hidden; border: 3px solid #7a7a7a; top: -9px; left: -9px; transition: 0.5s all; animation: circles 0.5s linear;}
.admin-settings .settings-list li label,.settingsPageDiv #search_display ul.result_found li a.ref_search label { width: 60px; height: 60px; border: 3px solid #000; border-radius: 12%; text-align: center; padding: 10px 0px; background: #fff; cursor: pointer; position: relative; transition: all 0.5s;}
.admin-settings .settings-list li label:hover, .settingsPageDiv #search_display ul.result_found li label:hover { background: #000 !important; color: #fff; transition: all 0.5s !important;}
.admin-settings .settings-list li label:hover span, .settingsPageDiv #search_display ul.result_found li label:hover span { color: #fff !important;}
.admin-settings .settings-list li label span,.settingsPageDiv #search_display ul.result_found li a.ref_search label span { color: #000000; text-align: center; vertical-align: middle; font-size: 28px;}
.admin-settings .settings-list li:hover label span , .settingsPageDiv #search_display ul.result_found li:hover a{ color: #fff; }
.admin-settings .settings-list li:hover .para_list,.settingsPageDiv #search_display ul.result_found li:hover .para_list { transform: translateY(10px); transition: 0.2s; }
.overlay-container-300 { margin-left: 0px !important; }
/* admin settings */

 /* notification Settings page style */
.notification-enable {
  display: inline-block;
  padding: 15px 0px; }

.notification-enable #global-notification-box {
  margin-right: 10px; }

.notification-enable label {
  cursor: pointer;
  font-weight: normal; }

#notification-editor-div {
  padding: 20px 0px 50px 0px; }

#notification-editor-div .notification-editor-module .accordion-module {
  background: #fff;
  padding: 10px 10px;
  display: block;
  border-top: 1px solid #e8e8e8;
  cursor: pointer; }

#notification-editor-div .notification-editor-module .toggle-icon {
  display: inline-block;
  font-size: 18px;
  float: right; }

#notification-editor-div .notification-editor-module .accordion-panel {
  padding: 20px 30px;
  display: none; }

#notification-editor-div .notification-editor-module .accordion-panel .notification-message {
  padding: 10px 0px; }

#notification-editor-div .notification-editor-module .accordion-panel .notification-message .check-box {
  margin-right: 10px; } 

  #notification-editor-div .notification-editor-module .accordion-panel .notification-message label {
  font-weight: normal; }

#notification-editor-div .notification-editor-module:last-child {
  border-bottom: 1px solid #e8e8e8; }

/* Address lookup */
.onoffswitch1 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch1-checkbox {
  display: none; }

.onoffswitch1-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 30px; }

.onoffswitch1-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

  .onoffswitch1-inner:before, .onoffswitch1-inner:after {
  display: block;
  float: left;
  width: 40%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.08) inset; }

.onoffswitch1-inner:before {
  content: "Enabled";
  width: 100px;
  padding-left: 10px;
  background-color: #0c4da2;
  color: #FFFFFF;
  border-radius: 30px 0 0 30px; }

.onoffswitch1-inner:after {
  content: "Disabled";
  padding-right: 8px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
  border-radius: 0 30px 30px 0; }
  .onoffswitch1-switch {
  display: block;
  width: 27px;
  height: 30px;
  margin: 1px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 80%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 80%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 80%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 80%);
  box-shadow: 0 1px 1px white inset; }

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
  margin-left: 0; }

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
  right: -11px; }

  .fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none; }

input#APIkey {
  outline: none;
  border: 1px solid #e8e8e8;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 20px; }

.jo-link:hover {
  color: #0c4da2; }

.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.scroll {
  overflow-y: auto;
  overflow-x: auto;
  height: 300px; }
  .scroll #addFormFieldRow .fa.fa-trash {
    font-size: 20px; }
    .scroll #addFormFieldRow .fa.fa-trash:hover {
      cursor: pointer;
      color: #0c4da2; }
  .scroll.address-lookup-table {
    max-height: 400px;
    height: auto; }
/* admin page */

    /* language editor */
    table.language-table thead th {
  width: 50%; }

table.language-table tbody td input {
  width: 80%;
  border: none;
  outline: none; }

table.language-table tbody td .language-edit {
  display: inline-block;
  margin-left: 15px; }

table.language-table tbody td .language-edit span {
  width: 25px;
  height: 25px;
  padding: 3px;
  cursor: pointer;
  text-align: center; }

table.language-table tbody td .language-edit span.save-edit, table.language-table tbody td .language-edit span.save-add-edit {
  color: #32a082; }

table.language-table tbody td .language-edit span.close-edit {
  color: #ff5e5e; }

table.language-table tbody td.active-editable input.language-input {
  border-bottom: 1px solid #0c4da2; }

    /* language editor */

  .settingsPageDiv table tbody tr.listViewEntries td {
  font-size: 15px !important; }
  .settingsPageDiv table tbody tr.listViewEntries td .table-actions .more.action {
    border: none;
    margin-left: 10px; }
  .settingsPageDiv table tbody tr.listViewEntries td i {
    font-size: 20px; }
  .settingsPageDiv table tbody tr.listViewEntries td .textOverflowEllipsis .use-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #E7FFE4;
    background: #E7FFE4; }
    .settingsPageDiv table tbody tr.listViewEntries td .textOverflowEllipsis .use-icon span {
      font-size: 20px;
      color: #0c4da2;
      display: block;
      text-align: center;
      line-height: 2; }

      .module-action-content #accordion .settingsgroup-panel {
    background: #fff !important; }
    .module-action-content #accordion .settingsgroup-panel a {
      color: #000;
      font-weight: bold;
      font-size: 15px; }
    .module-action-content #accordion .settingsgroup-panel:hover {
      background-color: #eee !important; }
    .module-action-content #accordion .settingsgroup-panel .panel-collapse .list-group.widgetContainer {
      color: #000;
      background: #fff !important; }
      .module-action-content #accordion .settingsgroup-panel .panel-collapse .list-group.widgetContainer li a:hover {
        background-color: #eee !important; }
        .module-action-content #accordion .settingsgroup-panel .panel-collapse .list-group.widgetContainer li a:hover .pinUnpinShortCut {
          display: none; }
      .module-action-content #accordion .settingsgroup-panel .panel-collapse .list-group.widgetContainer li a.settingsgroup-menu-color {
        background-color: #eee !important; }
      .module-action-content #accordion .settingsgroup-panel .panel-collapse .list-group.widgetContainer li a {
        font-size: 14px;
        font-weight: normal !important; }

	  .main-container .settingsPageDiv.content-area.clearfix input:focus {
    outline: none;
    border-color: #0c4da2 !important; }
  .main-container .settingsPageDiv.content-area.clearfix .settings-search-box {
    position: relative;
    top: -28px;
    left: 80%;
    border-style: solid;
    border: 1px solid #efefef;
    padding: 5px 10px;
    border-radius: 10px;
    width: 20%; }
    .main-container .settingsPageDiv.content-area.clearfix .settings-search-box:hover {
      box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.75); }
  .main-container .settingsPageDiv.content-area.clearfix .settings-search-icon {
    position: absolute;
    top: -20px;
    right: 25px; }
  .main-container .settingsPageDiv.content-area.clearfix .adminpage-search-box {
    margin-bottom: 10px; }

.module-action-bar .settingsgroup {
  background-color: transparent !important;
  margin: 0px; }

  .settingsgroup-panel .widgetContainer .menuItemLabel .pinUnpinShortCut{display:none;margin-top:2px}
.settingsgroup-panel .widgetContainer .menuItemLabel:hover .pinUnpinShortCut{display:inline-block}
.module-filters .settings-sidebar,.module-filters .sidebar-container{padding:0 12px}
.settings-sidebar{display:inline-block;width:100%;float:left;background:#596875}
.module-filters .settings-sidebar>hr{margin:20px 12px}
.settings-menu{display:inline-block;width:100%;float:left;background:#303030;height:100%}
.settings-flip{background:none repeat scroll 0 0 #596875;font-size:14px;margin:auto;padding:5px;cursor:n-resize}
.settings-menu-items{box-shadow:0 1px 1px rgba(0,0,0,0.05);margin-bottom:10px;text-align:justify}
.settings-menu-items a{color:#fff;font-size:13px}
.settingsgroup .panel-group{padding-top:15px}
.settingsPageDiv.content-area{margin-right:0}
.settingsgroup,.settingsgroup .panel-collapse{width:230px}
.settingsgroup ul.list-group{list-style-type:none;font-size:13px;padding:5px 0}
.settingsgroup div.settingsgroup-accordion:hover a,.settingsgroup div.settingsgroup-accordion a:link,.settingsgroup div.settingsgroup-accordion a:active,.settingsgroup li:hover a{color:#fff}
.settingsgroup div.panel-collapse{background-color:#303030}
.settingsgroup-accordion{color:#fff;font-size:14px;cursor:pointer}
.settingsgroup-accordion a{padding:10px 20px;display:block}
.settingsgroup-accordion a i{margin-right:5px}
.settingsgroup{background:#303030;height:100%}
.settingsgroup .panel-group .panel{background-color:#303030}
.userDefaultIcon{font-size:30px}
.settingsgroup ul li a{padding:8px 8px 8px 50px;display:block;color:#fff}
.settingsIndexPage .settingsSummary{text-align:center;margin-top:10px}
.settingsIndexPage .settingsSummary a{display:inline-block;background:#f3f3f4;color:#444;border-radius:2px;min-width:200px;padding:20px 0 10px;border:1px solid #ddd}
.settingsIndexPage .settingsSummary a .summaryText{display:inline-block;margin-top:20px;font-size:15px}
#settingsShortCutsContainer .well{padding:10px;margin-left:20px}
#settingsShortCutsContainer .hiden{display:none}
#settingsShortCutsContainer .close{border:0;background:none repeat scroll 0 0 transparent;border:0 none;cursor:pointer;float:right;font-size:20px;font-weight:bold;line-height:18px;opacity:.2}
#settingsShortCutsContainer .col-lg-3.moduleBlock:hover .unpin{display:inline-block;opacity:.4}
#settingsShortCutsContainer .moduleBlock:hover .unpin:hover{opacity:.8}
#settingsShortCutsContainer .contentsBackground{background:#fff;border:1px solid #ddd}
#settingsShortCutsContainer .moduleBlock:hover{background:#f3f3f4}

.notification_settings a,.notification_settings a:hover,.notification_settings a:visited,.notification_settings a:active{color:black}
.settingsPageDiv .modal-overlay-footer{margin-left:230px;border-left:0 solid}
.settingsOverlayContainer .modal-overlay-footer{margin:0;border-top:1px solid #e5e5e5}

#settingsMenuSearch{background-color:white;margin-left:12px;margin-top:12px;width:91%;color:black}
.settingsgroup [data-instafilta-hide="true"]{display:none!important}
.settingsgroup [data-instafilta-hide="false"]{display:block!important}
.panel-collapse ul li a.settingsgroup-menu-color{background-color:#010101}

.ModulemanagerSettings .moduleblock .hiden{display:none}
.ModulemanagerSettings:hover .unpin{display:inline-block}
.ModulemanagerSettings .actions{opacity:0;width:80px}
.ModulemanagerSettings{width:12px;background:#fff}
.ModulemanagerSettings:hover .actions{opacity:1;background:#f3f3f4}
#OutgoingMoretable td,th{padding:6px}
.cp-tabs .enabledModules{display:inline-block!important;margin-left:4px!important;margin-right:4px!important;vertical-align:top}
.drag-portal-module{vertical-align:middle;cursor:pointer}
.addFieldsBlock{margin-top:20px}
.portal-home-module{padding-left:40px}
.portal-dashboard{border:1px solid #8e44ad!important;border-left:0!important;min-height:500px;padding-left:15px}
.portal-dashboard>.hrHeader{margin-left:18px;width:94%}
.portal-annoucement-widget-container{border:1px solid #d7d7d7}
.portal-annoucement-widget{background:#596875;color:#fff;min-height:20px;padding:5px}
.portal-chart-widget-container{border:1px solid #d7d7d7}
.portal-annoucement-widget-container>.portal{min-height:100px;padding:10px}
.portal-chart-header{background:#596875;color:#fff;min-height:20px;padding:5px}
.portal-chart-content{min-height:100px;padding:10px}
.portal-record-widget-container{border:1px solid #d7d7d7;margin-bottom:10px}
.portal-record-widget-content{background:#596875;color:#fff;min-height:10px;padding:4px}
.portal-record-control-container{padding:4px}
.portal-shortcuts-container{border:1px solid #d7d7d7;width:285px!important}
.portal-shortcuts-header{background:#596875;color:#fff;min-height:20px;padding:5px}
.portal-shortcuts-content{min-height:80px;padding:10px}
.portal-shortcut-list{margin-top:10px}
.portal-helpdesk-widget-container{border:1px solid #d7d7d7;margin-bottom:10px;width:285px!important}
.portal-helpdesk-widget-header{background:#596875;color:#fff;min-height:20px;padding:5px}
.portal-fields-container{margin:15px}
.portal-fields-content{border-right:1px solid #8e44ad!important;min-height:500px}
.portal-slider-legend{margin-left:5px;z-index:0;width:0}
.FieldSet{margin:20px;margin-left:5px}

.portal-field-delete{margin-left:45px!important}
.portalModuleRow{border-left:4px solid #8e44ad!important}
.portalMenuHeader{border-bottom:1px solid #8e44ad!important;border-right:1px solid #8e44ad!important;font-size:22px}
.portalModuleRow .active{border-top-right-radius:10px}
.cp-mandatory::after{content:"*";color:red}
.nav-tabs .cp-modules>.active>a,.nav-tabs .cp-modules>.active>a:hover{border:0!important;border-top-right-radius:0}
.nav-tabs>.active>.cp-modules{border:0!important}
.cp-modules-home{border-right-width:0!important;border-top-right-radius:0!important;border-top-left-radius:0!important}
.nav-tabs>.active>.cp-modules-home{border-right-width:0!important;border-top-right-radius:0!important;border-top-left-radius:0!important}
.cp-nav-header-wrapper{margin-bottom:0;border-right-width:0!important}
#dashboardContent{margin-bottom:15px;margin-top:8px;margin-left:15px;margin-right:15px}
.bgColor{background-color:#ddd}
.dragdrop-dotted{border:2px dashed #c0c0c0;min-width:300px;width:auto;color:#c0c0c0;text-align:center;vertical-align:middle;padding-top:2%;margin-bottom:10px;height:150px}
.dragdrop-solid{border-style:solid}
.selectedFile{background-color:#a9cbf5;font-weight:bold}
.selectedFolder{background-color:#a9cbf5;font-weight:bold}
.fileUploadBtn{position:relative;overflow:hidden;display:block;}
.fileUploadBtn input[type="file"]{position:absolute;top:0;right:0;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%}
.browse-file{width:65% !important;display:inline-block;position: relative;}
.browse-file-input{display:inline;margin-top: -35px;height: 40px;margin-left: -15px;}
.browse-file-input-span{bottom: 17px;height: 40px;    background: #f1f4fb;border-top-right-radius: 3px !important;border-bottom-right-radius: 3px !important;padding: .56rem 15px;color: #68769a;border-radius: 0;border: 1px solid #e2e8f5;}
.MultiFile-applied{position: absolute;width: 300% !important;}
tr.folder,tr.file{font-size:130%}
tr.folder>td.fileTitleData,tr.file>td.fileTitleData{word-break:break-all;width:350px;white-space:pre-wrap}
tr.folder>td.fileSizeData,tr.file>td.fileSizeData{font-size:11px}
tr.folder>td.fileOwnerData,tr.file>td.fileOwnerData{font-size:11px;word-break:break-all;width:100px;white-space:pre-wrap}
.mailroomBanner{margin:23px 0;height:215px}
.mailroomBlock .mailroomBanner{width:600px;height:auto}
.forwardingEmailBlock{margin-top:15px;border:1px solid #ddd;width:391px;padding:16px;font-size:1.5em;position:relative}
.mailboxArrowPointer{display:inline-block;position:absolute;width:300px;top:15px;left:392px}
.mailroom-address-block{display:inline-block;margin:0 auto;position:relative}
.mailboxArrowLabel{color:red;display:inline-block;margin-right:-5px;font-size:1.2em;vertical-align:top}
.mailroomSelectedButton.disabled,.mailroomSelectedButton.disabled:hover{background:#a9cbf5;border:1px solid #4d94eb}

/*settingsmenu-starts*/
.settingsmenu-starts{
    position:relative;
    background-color: #fff;
    min-height: auto;
    width: 97%;
    padding: 15px 20px !important;
    margin: 100px 0 20px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border-radius: 5px;
    border: 1px solid #deebfd;
    margin-bottom: 21px;
    box-shadow: -8px 12px 18px 0 #dadee8;
}

.table-container{ border:solid 1px #ddd;}
.settings_search{
    padding-right: 0px !important;
    border: 1px solid #ecf0fa;
    border-radius: 6px;
    margin-left: 10px;
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
    color: #aaa;
    margin-top: 4px;
    text-decoration: none;
    vertical-align: top;
    background: #fff;
}
.settings_search input{
    background: transparent;
    border: none;
    padding: 5px 20px 5px 40px;
    background: url(images/magnifier.png) no-repeat 15px;
    position: relative;
    left: 0px;
    box-sizing: border-box;
}
.listViewContentHeader th{ width:300px !important; }
.navbar-nav{ margin-top: 10px;  }
.more-icons{ margin-left: 10px; padding-bottom: 20px;}
.row .nav.charttabs>li, .nav-tabs>li{ margin: 0px 3px; }

/* temporary hidings*/
.detailview-header-block .detailview-header .col-lg-12.col-md-12.col-sm-12 .record-header.clearfix.col-lg-12.col-md-12.col-sm-12{margin:0 !important;padding:0 !important;}
.fieldLabel.alignMiddle.producttax{
    position: relative;
    top: -17px;
    left: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;}
