/* responsive styles */

@media(min-width:991px) {
	.global-nav .logo-container {
		display: inline-block;
		width: 100px;
		z-index: 2;
		padding-left: 0;
		margin-top: 0px;
	}

	.app-nav .module-action-bar {
		padding-left: 42px;
		top: 0;
		padding-right: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid #ddd;
	}

	.app-nav .module-action-bar .module-action-content .ml-auto {
		margin-right: 0;
	}

	.main-container .sidebar-essentials {
		display: inline-block !important;
		width: 15%;
		z-index: -0;
		position: fixed;
		overflow-x: hidden;
		overflow-y: scroll;
		bottom: 0;
		top: 0;
		left: 42px;
		background: #fff;
		border-right: 1px solid #ddd;
		padding-bottom: 30px !important;
		margin-top: 62px;
		z-index: 8009;
	}

	.wizards .breadcrumb_line {
		left: 171px;
	}

	/* .main-container .content-area{width:80%;float: right;padding-left:283px;padding-top:15px;min-height:560px;} */
	.main-container .content-area {
		width: 85%;
		margin-left: 15%;
		padding-top: 15px;
		min-height: 560px;
	}

	.main-container .settingsNav {
		height: 100%;
	}

	.app-nav .module-action-bar-full {
		padding-left: 0;
	}

	.nav>li>a.qc-button {
		padding: 2px 3px;
		margin-top: 13px;
		margin-right: 15px;
		background: #3cb878;
		color: #fff;
		border-radius: 20px;
	}

	.nav>li>a.qc-button span {
		vertical-align: top;
	}

	.module-action-bar #settingsMenuSearch {
		margin-top: 10px;
	}

	.module-action-bar #accordion {
		left: 25px;
		top: 44px;
		z-index: 1;
		max-width: 233px;
		word-break: break-word;
		overflow-x: hidden;
	}
}

@media(max-width:768px) {

	table.PDFMaker_details_view .fieldValue table {

		width: 475px !important;
	}

	.PDFMaker_details_view_main {
		margin-left: -13px;
		width: 104.5%;
	}

	.PDF_details_row .pdf_block {
		padding: 21px 10px 28px 10px !important;
	}

	.module-action-bar .ml-auto {
		/* float: right; */
		height: 42px;
	}

	.emailtemplate_page_record_views {
		height: 80vh !important;
	}

	.module-action-bar .ml-auto .nav>li {
		display: inline-block;
	}

	.module-action-bar .ml-auto .nav>li a {
		padding: 0 10px;
	}

	.global-nav .logo-container {
		border-bottom: 0;
		width: 150px;
	}

	.searchBox {
		left: 100px !important;
		top: 70px;
	}

	.app-nav .module-action-bar {
		height: 65px;
		background: #f8f8f8 !important;
		top: -60px;
		z-index: -1000;
	}
}

@media(max-width:991px) {
	.global-nav .logo-container {
		border-bottom: 0;
		width: 150px;
	}
}

@media(max-width:1200px) {
	.app-menus {
		max-height: 100%;
		/* overflow-y: auto; */
	}
}

@media screen and (max-width: 700px) {
	.editViewContents .fieldLabel {
		border-bottom: none;
		margin-bottom: 0px;
		white-space: normal;
	}

	.editViewPageDiv.viewContent {
		width: 100%;
		padding-right: 50px;
	}
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
	.editViewPageDiv.viewContent {
		width: 100%;
		padding-right: 50px;
	}

	.module-action-bar .module-action-content .module-breadcrumb {
		margin-top: 0px;
	}

	.profile-img {
		display: none;
	}

	.logo-container a {
		display: none;
	}

	.logo-container .mobilelogo {
		left: 65px;
		position: relative;
		z-index: 30;
		top: -57px;
		height: 27px;
	}

	.settings_search {
		margin-top: -24px;
		;
	}

	.settingsmenu-starts {
		width: 94% !important;
		margin-top: 30px !important;
	}

	.lists {
		margin-top: 10px !important;
	}

	.table-container {
		width: 97% !important;
		margin-left: 8px;
	}

	.recordEditView {
		margin-left: 1.2%;
	}

	.settings_search {
		top: -33px;
	}

	.global-actions .row.nav.navbar li {
		margin: 10px 8px 10px 20px !important;
	}

	.details_view_detailview_header_block_ipad_view {
		margin-top: 30px;
	}

	.col-lg-12.col-xl-12.col-md-12.col-sm-12.pl10.m0.pull-left.ipad_scr_Quote_page_details {
		width: 96%;
		left: 15px
	}

	.detailview-content.container-fluid.ipad_scr_Quotes_detail_view,
	.detailview-content.container-fluid {
		height: 100vh;
	}

	.users-menu-starts {
		margin-top: 17px !important;
		top: 0px !important;
		left: -8px;
	}

	.settingsmenu-starts .vt-default-callout {
		min-width: 100%;
	}

	.settingsmenu-starts.Pipeline_page_details_scrn.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
		height: 100vh;
		overflow-y: scroll;
	}

	.row.contenthead.mac_scr_header {
		width: 100%;
		margin-bottom: 0px;
	}

	.row.contenthead.mac_scr_header .card-header-new {
		left: 18px;
	}

	.settingsmenu-starts.p0.mt0.col-lg-12.col-md-12.col-sm-12.col-xs-12.m0 {
		padding: 0px !important;
	}

	.modal-header button.close_language_editor {
		margin-left: 97px !important;
	}

	.btn-group.pull-right.col-lg-6.col-md-6.col-12 {
		padding: 0px;
	}

	.btn,
	.sp-container button {
		height: auto !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table thead tr th:first-child,
	.table-container .fixed-scroll-table table.listview-table-norecords thead tr th:first-child {
		height: 47px !important;
	}

	.table-actions .btn-group.listViewMassActions.dropdown .dropdown-toggle {
		height: 28px !important;
	}

	.dropdown-filter .btn.btn-filter {
		height: 42px !important;
	}

	.main-container .sidebar-essentials {
		z-index: 8009;
	}
}


@media screen and (min-width: 992px) {
	.app-nav .module-action-bar {
		padding-left: 0px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
	.main-container {
		display: flex;
	}

	.main-container .sidebar-essentials {
		width: 0;
		display: inline-block;
		width: 200px;
		z-index: 1;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 42px;
		background: #fff;
		border-right: 1px solid #ddd;
		padding-bottom: 30px !important;
	}

	/*#topbar-elements #navbar{display:none !important;}*/
	#topbar-elements .search-link {
		float: right !important;
	}

	.logo-container {
		display: inline-block !important;
		margin: 0 !important;
		padding: 0px !important;
	}

	#topbar-elements.full-topbar {
		width: 88% !important;
	}

	.main-container .content-area {
		width: 100% !important;
	}

	.admin-settings .settings-list li {
		width: 15%;
		white-space: normal;
	}

	.detailViewSetting.dropdown-menu {
		background: #fff !important;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
	}

	.detailViewSetting.dropdown-menu li a {
		color: #333 !important;
	}

	.detailViewButtoncontainer .joforce-detailview-btn {
		float: left !important;
	}

	.draggable li {
		margin-bottom: 46px !important;
	}

	.nav-pills.nav-wizard li {
		width: 25%;
		display: inline-block;
		margin: 5px 0px;
	}

	.summaryWidgetContainer .joforce-detailview-btn .addButton {
		margin-top: 5px;
	}

	.global-nav .app-navigator-container {
		width: 80px !important;
		display: inline-block;
	}
}

@media screen and (max-width: 1000px) {
	#page {
		min-height: 100% !important;
	}
}

@media screen and (max-width: 800px) {
	.filter-open {
		position: absolute;
		z-index: 1000;
	}

	.main-container {
		margin-top: 65px;
		width: 100% !important;
	}

	.dashBoardContainer .tabContainer .nav {
		margin-top: 60px;
	}

	.block {
		padding: 0px !important;
	}

	.bodyContents {
		width: 100% !important;
	}

	.contents {
		width: 100% !important;
		overflow: hidden;
	}

	.settingsPageDiv.content-area.clearfix {
		width: 100% !important;
	}

	.main-container .sidebar-essentials {
		width: 200px !important;
		display: none;
	}

	.main-container .sidebar-essentials.shrinked-sidebar {
		width: 0px !important;
	}

	.modal.myModal .modal-dialog .modal-content {
		width: 100vw;
	}

	.modal.myModal .modal-dialog .modal-content .modal-header {
		width: 100vw;
	}

	.modal.myModal .modal-dialog .modal-content .modal-footer {
		width: 100vw;
	}

	.draggable li {
		margin-bottom: 46px !important;
	}

	.detailview-table .fieldLabel {
		display: inherit !important;
	}

	.content-area {
		padding-left: 0 10px !important;
	}

	.content-area .form-horizontal {
		overflow: hidden;
		overflow-x: auto;
		padding-left: 0px !important;
		overflow-y: scroll;
	}

	.listViewPageDiv.content-area .floatThead-floatContainer.floatThead-container table thead .listViewContentHeader th .table-actions #joforce-table-search {
		margin-left: 22% !important;
	}

	.dashBoardTabContents {
		width: 100%;
	}

	.dashBoardTabContents .gridster_2 ul {
		width: auto !important;
	}

	.dashBoardTabContents .gridster_2 ul .dashboardWidget {
		width: 100% !important;
		margin-left: -15px;
	}

	.fc-left {
		width: 70%;
		margin-left: 15%;
		text-align: center;
	}

	.fc-right {
		margin-top: 10px;
		width: 50%;
		float: right !important;
	}

	.fc-right .fc-button-group {
		margin-left: 0.15em !important;
	}

	.fc-center {
		margin-top: 10px;
		width: 50% !important;
		float: left !important;
	}

	.admin-settings .settings-list {
		padding-left: 0px;
	}

	.admin-settings .settings-list li {
		width: 25%;
		margin: 25px 40px 25px 25px;
	}

	.detailViewSetting.dropdown-menu {
		background: #fff !important;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
	}

	.detailViewSetting.dropdown-menu li a {
		color: #333 !important;
	}

	.nav-pills.nav-wizard li {
		width: 50%;
		display: inline-block;
	}

	.table.detailview-table.no-border tr td.fieldValue {
		width: 100%;
		overflow: hidden;
		overflow-x: auto;
	}

	.detailview-table .fieldLabel {
		width: 40% !important;
	}

	.clearfix.treeView ul {
		padding: 0px;
	}

	.editViewContents .form-group .fieldLabel,
	.editViewContents .form-group .fieldValue {
		width: 100% !important;
	}

	.usersListDiv .select2-container.select2 {
		width: 92% !important;
	}

	.editViewContents.table-container {
		overflow-x: auto !important;
	}

	.joforce-bg-prefer .logo {
		padding: 0px !important;
	}

	.menu-box .more-menu-section li.more-menu-list {
		width: 100% !important;
	}

	.crumbs li {
		width: 32% !important;
	}

	.crumbs li .stepNum {
		font-size: 14px;
	}

	.fieldLabel.col-form-label {
		padding-left: 25px;
	}

	.editFields.marginLeftZero .row-fluid.padding1per .fieldLabel {
		width: 60%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.formChanged div {
		width: 100% !important;
		top: 0px !important;
	}

	#detailViewLayout h4 {
		top: 0px !important;
	}

	#detailViewLayout .marginLeftZero div span {
		/* margin-top: 10px !important; */
	}

	.blockFieldsList.blockFieldsSortable {
		overflow-x: auto;
	}

	.blockFieldsList.blockFieldsSortable .connectedSortable {
		min-width: 100% !important;
	}

	#joaddresslookup {
		width: 100% !important;
	}

	#joaddresslookup a:hover,
	#joaddresslookup a:focus,
	#joaddresslookup a:active {
		color: #0c4da2 !important;
	}

	.fieldLabel.textOverflowEllipsis span.muted {
		width: 100% !important;
		padding-left: 25px;
		white-space: nowrap;
	}

	.fieldValue {
		padding-left: 25px !important;
	}

	.importBlockContainer {
		overflow: auto !important;
	}

	.viewContent .content-area {
		padding-left: 15px !important;
	}

	.content-area .form-horizontal {
		padding-right: 0px;
	}

	#listview-table tbody tr td {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.quickviewcontent {
		width: 100% !important;
		left: 0px !important;
		z-index: 1000;
	}

	.quickviewcontent .record-header .d-sm-none,
	.quickviewcontent .record-header .d-none {
		display: block !important;
	}

	table.listview-table thead tr th:first-child {
		min-width: auto !important;
	}

	table.listview-table thead tr th:last-child {
		position: relative !important;
	}

	table.listview-table thead tr th:nth-child(2) {
		position: relative !important;
		/* z-index: 90 !important; */
		left: 0px !important;
	}

	table.listview-table tbody tr td:last-child {
		position: relative !important;
	}

	table.listview-table tbody tr td:nth-child(2) {
		position: relative !important;
		left: 0px !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table {
		margin-left: 80px !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table thead tr th:first-child {
		border-right: 1px solid #e8e8e8 !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table thead tr th:nth-child(2) {
		border-right: none;
		border-bottom: 1px solid #e8e8e8 !important;
		background: none !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table thead tr th:last-child {
		min-width: 80px !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table tbody tr td:first-child {
		border-right: 1px solid #e8e8e8 !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table tbody tr td:nth-child(2) {
		border-right: none !important;
		background: none !important;
		border-top: 1px solid #e8e8e8 !important;
	}

	.joforce-bg-list {
		top: 35px;
	}

	.detailViewPageDiv .module-breadcrumb {
		margin-top: 30px;
	}

	.related-tabs .nav-tabs {
		right: 16px;
	}

	#detailView .block h4 {
		height: 49px;
		padding: 16px 20px;
	}

	.summary-table {
		margin-top: 70px;
		;
	}

	.table.detailview-table.no-border tr td.fieldValue {
		left: 170px !important;
		top: 0px;
		float: none !important;
	}

	#detailView td.fieldLabel {
		float: none;
	}

	.detailViewContainer .recentActivitiesContainer,
	.related-tabs.row .details.row,
	.detailview-content .details.row .relatedHeader {
		border-radius: 5px;
		padding: 10px !important;
	}

	#searchResults-container {
		margin-left: -300px;
	}

	.settingsgroup {
		float: right;
	}

	.app-nav .module-action-bar {
		top: -53px;
	}

	.module-action-bar #settingsMenuSearch {
		top: -20px;
	}

	#quickCreateModules a {
		width: 100%;
		display: inline-block;
		float: left;
	}

	.widget1 {
		padding: 30px 60px !important;
	}

	/* .card{ width: 55% !important; float: left; margin-right: 10px;} */
	/* .summaryView{ width: 40% !important; position:unset; float: left;} */
	.app-nav .module-action-bar {
		top: 0px;
	}

	.full-header .module-action-bar {
		top: 0px;
	}

	#topbar-elements.full-topbar {
		width: 80% !important;
	}

	.global-nav .full-topbar {}

	.dashboardHeading.container-fluid {
		margin-top: -60px !important;
	}

	.app-menus .search-link {
		display: block !important;
		border-radius: 10px !important;
		margin-left: 35px !important;
		margin: 10px 6px 6px 5px !important;
		width: 94%;
	}

	.detailViewPageDiv .joforce-detailview-btn {
		/* margin: 0 71px; */
		/* margin-left: 15px; */
	}

	.table-container .fixed-scroll-table #listview-table.listview-table thead tr th:last-child {
		position: absolute;
		right: 0px;
		height: 90px;
		min-width: auto !important;
		width: 55px !important;
		z-index: 1000;
		background-color: #f7f9ff !important;
		color: #504c4c !important;
		border-left: double !important;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		border-left: 3px solid #e8e8e8;
	}

	.company-logo {
		height: 70px;
		box-shadow: none;
		margin: 0px 17px 4px 68px;
		box-shadow: 5px 7px 26px -5px transparent !important;
	}

	.company-logo img {
		height: auto !important;
		width: 60% !important;
		margin: 21px 50px 10px 3px !important;
	}

	#topbar-elements.full-topbar {}

	.table-container .fixed-scroll-table #listview-table.listview-table thead tr th:last-child {
		position: absolute !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table tbody tr td:last-child {
		position: absolute !important;
	}

	.dropdown-filter .filter-open {
		width: 250px !important;
	}

	.d-sm-none.d-none.recordImage {
		display: block !important;
	}

	.d-sm-none.d-none.recordImage .name {
		padding: 14px 20px;
	}

	.nav-responsive {
		display: block;
		position: absolute;
		bottom: -7px;
		right: 25px;
		z-index: 1;
		cursor: pointer;
	}

	.user-image {
		display: none;
	}

	.user-image-mobile {
		display: block !important;
		position: absolute;
		right: 50px;
		bottom: 10px;
	}

	.user-image-mobile li.dropdown {
		list-style: none;
	}

	.user-image-mobile li.dropdown ul.dropdown-menu {
		left: 40px !important;
		position: fixed;
	}

	#menu-toggle-action {
		display: none;
	}

	#responsive-menu-toggle-action {
		display: inline-block !important;
		cursor: pointer;
		font-size: 30px;
		position: relative;
		padding-bottom: 5px;
		top: 10px;
		left: 10px;
	}

	#responsive-menu-toggle-action i {
		width: 25px;
		height: 25px;
		font-size: 25px;
		position: absolute;
		right: 375px;
	}

	.global-nav .app-navigator-container {
		display: inline-block;
	}

	.joforce-bg-list {
		margin: 0 !important;
	}

	.full-header {
		width: 100% !important;
	}

	.content-area.full-width {
		padding-left: 2% !important;
		width: 100% !important;
	}

	.module-header {
		width: 100% !important;
		margin-left: 0% !important;
	}
}

@media only screen and (max-width: 300px) {


	.emailtemplate_page_record_views {
		height: 75vh !important;
	}

	.settingsPageDiv .admin-settings {
		margin-top: 0px;
	}

	.settingsPageDiv #search_settings {
		top: -45px;
		right: 0%;
		width: 93%;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 50% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}
}

@media (min-width: 301px) and (max-width: 600px) {
	.container-fluid.app-nav.module-header {
		/* display: none; */
	}

	ul.dropdown-menu.more-actions-right.dropdown-menu-right.show {
		/* top: 60px !important; */
		margin: inherit !important;
		position: inherit !important;
	}

	.main-container {
		overflow-x: hidden;
	}

	.app-nav .module-action-bar {
		height: 0px;
		background: #ecf0fa !important;
	}

	.edit-content {
		padding: 0% !important;
	}

	.module-action-bar #settingsMenuSearch {
		width: 69%;
		left: -50px;
		top: -40px;
	}

	.contents.tabbable.ui-sortable {
		margin-top: 20px;
	}

	.module-action-bar .ml-auto {}

	.main-container .content-area {
		/* margin-left: 3.8% !important; */
	}

	.fieldLabel.textOverflowEllipsis span.muted {
		padding-left: 10px;
		display: inline-block;
		width: 158px !important;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
	}

	.contents {
		overflow: auto;
	}

	.fieldLabel.col-form-label {
		padding-left: 0px;
	}

	.fieldValue {
		padding-left: 0px !important;
	}

	div#customRecordNumbering {
		margin-left: 22px;
	}

	.nav-pills.nav-wizard li {
		width: 30% !important;
		margin-left: 5px;
	}

	.usersListDiv .select2-container.select2 {
		width: 107% !important;
	}

	.usersListDiv .select2-container .select2-choice {
		width: 289px !important;
	}

	span.btn-group.show {
		position: relative;
	}

	.settingsPageDiv.content-area.clearfix {
		width: 100% !important;
	}

	ul.dropdown-menu.dropdown-menu-right.profile-dropdown-option.show {
		position: fixed !important;
		margin-left: 361px !important;
		margin-top: 165px;
		/* margin-top: 77px;
		width: auto!important; */
	}

	ul.dropdown-menu.global-notification-dropdown.dropdown-menu-right.show {
		/* position: fixed !important; */
		left: -259px !important;
		/* margin-top: 0px; */
	}

	ul.dropdown-menu.dropdown-menu-right.ms_quick_create_menu.show {
		position: fixed !important;
		margin-left: 0px !important;
		margin-right: 7px;
	}

	.ms_quick_create_menu {
		margin-top: 77px !important;
		width: auto !important;
		margin-left: 0px !important;
	}

	.profile-dropdown-option {
		margin-left: 253px !important;
		margin-top: 80px !important;
	}

	li ul.dropdown-menu.profile-dropdown .profile-info .profile-content .profile-details {
		right: inherit !important;
	}

	.mon_scr_mr-left {
		margin-left: 350px !important;
	}

	.mon_scr_mr-left_1 {
		margin-left: 430px !important;
	}

	.mon_scr_mr-left_2 {
		margin-left: 530px !important;
	}

	.editViewPageDiv.viewContent {
		padding-right: 15px;
	}

	.row-with-column {
		margin-top: 0px;
	}

	.nav-responsive {
		right: 0;
	}

	.joforce-bg-list {
		top: 50px;
	}

	.app-nav .module-action-bar {
		/* margin-top: 30px; */
		/* margin-left: 14px; */
		/* margin-right: -127px; */
		margin-bottom: 20px;
		z-index: 3;
	}

	.btn-group {
		margin-top: 17px !important;
	}

	.btn-group.pull-right.col-lg-6.col-md-6.col-12 {
		padding: 0px;
	}

	.full-topbar .navbar-collapse {
		top: 40px;
		margin-left: -42px !important;
		left: -59px;
		background: #fff;
		border-top: none;
		z-index: 3;
		width: 500px;
	}

	.settingsmenu-starts {
		width: 98.5% !important;
		/* width: 94% !important; */
	}

	.nav .dropdown #gndropdown {
		width: 35px;
	}

	.navbar-nav .open .dropdown-menu {
		width: 280px;
	}

	.module-action-content .ml-auto {
		/* margin-left: -190px!important;
		margin-top: 4px; */
		/* display: none; */
		margin-left: 150px !important;
		/* margin-left: -33px; */
		margin-top: -2px;
	}

	.user-container.card.m40 {
		margin: 0px !important;
	}

	.global-notification-dropdown {
		width: 400px;
		min-height: 300px;
		max-height: 400px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	#responsive-menu-toggle-action i {
		width: 25px;
		height: 25px;
		font-size: 25px;
		position: absolute;
		right: 105px;
		top: -25px;
		left: -90px;
		/* left: -90px; */
	}

	.navbar-nav .dropdown .profile-img {
		display: none;
	}

	.user-image-mobile li.dropdown ul.dropdown-menu {
		left: 170px !important;
		position: fixed;
	}

	.more-icons .nav-tabs {
		z-index: 1;
	}

	.record-header {
		text-align: center;
	}

	.d-sm-none .d-none .recordImage .name {
		padding: 14px ​20px !important;
	}

	.profile-img button {
		position: relative;
		top: 3px;
		/* left: 35px; */
	}

	.global-nav .search-link {
		display: none !important;
	}

	.company-logo img {
		display: none;
	}

	.pagination {
		margin: 0 0 0 0px;
	}

	.mobilelogo {
		width: 150px;
		position: absolute;
		top: 10px;
		left: 123px;
		display: block !important;
	}

	.settingsgroup,
	.settingsgroup .panel-collapse {
		width: 230px;
		/* display: none; */
	}

	.container-fluid .navbar-collapse {
		top: 24px;
		z-index: 2;
		margin-left: -26px !important;
		background-color: #fff;
		width: 150px;
		border-top: none;
		visibility: hidden;
		transition: all .5 ease-in;
		left: 180px;
		border-radius: 10px;
	}

	.global-actions .row.nav.navbar {
		/* right: auto; */
	}

	.global-actions .row.nav.navbar li {
		margin: 10px 13px 10px 13px !important;
	}

	.global-actions .row.nav.navbar li.support-icon {
		margin-top: -5px !important;
	}

	.container-fluid .navbar-collapse-toggle {
		visibility: visible;
		z-index: 99999999;
	}

	.joforce-login {
		width: 100%;

	}

	.ml-auto .navbar-nav {
		margin: 5px 70px;
		width: 400px;
	}

	.module-action-content .ml-auto .navbar-nav {
		/* margin: 0px 120px 0px 24px; */
		margin: 0px 90px 0px 90px;
	}

	.nav li {
		/* display: table-cell; */
	}

	.navbar-nav li button {
		margin: 4px 3px !important;
	}

	.dropdown-filter {
		position: relative !important;
		/* right: 16px !important; */
	}

	#searchResults-container {
		max-height: 100vh !important;
		height: 70vh !important;
		width: 70% !important;
	}

	.main-container .content-area {
		overflow: inherit !important;
	}

	.module-buttons.btn {
		width: 46%;
		padding: 2px 5px !important;
		/* float: left; */
	}

	.module-breadcrumb {
		display: none !important;
	}

	#responsive-menu-toggle-action {
		display: inline-block !important;
		cursor: pointer;
		font-size: 30px;
		position: relative;
		padding-bottom: 5px;
		top: 13px;
		/* left: 30px; */
	}

	.search-link {
		margin-left: 70px !important;
	}

	.settingsPageDiv .admin-settings {
		margin-top: 0px;
	}

	.settingsPageDiv #search_settings {
		top: -2%;
		right: 0%;
		width: 93%;
	}

	.dashBoardTabContents .gridster_2 ul .dashboardWidget {
		width: 104% !important;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 50% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}

	.module-action-bar #settingsMenuSearch {
		margin: 0px;
	}

	.module-action-bar #accordion {
		/* left: 111px; */
		top: 72px;
		z-index: 1;
		max-width: 220px;
		word-break: break-word;
		overflow-x: hidden;
	}

	.detailViewPageDiv .module-breadcrumb {
		display: none;
	}

	.detailViewPageDiv .joforce-detailview-btn {
		margin: 50px 0px 0px -30px;
		z-index: 9;
		position: absolute;
		height: 85px;
		width: 349px !important;
		overflow-y: scroll;
		margin-left: -13px;
	}

	#detailViewContent #detail-view-header .detailViewButtoncontainer {
		height: 139% !important;
		display: inline-block !important;
		float: right;
		/* width: 147%; */
		overflow-y: hidden;
		top: 17px;
	}

	.joforce-detailview-btn .pull-right,
	.joforce-detailview-btn .btn-group {
		margin-left: 0px;
	}

	#detailViewLayout .marginLeftZero div span {
		margin-top: 0px !important;
	}

	.overlayPageContent.fade.in {
		top: 66px !important;
		left: -10px;

	}

	.content-area .form-horizontal {
		/* padding-left: 38px!important; */
	}

	.table.detailview-table.no-border tr td.fieldValue {
		left: 0px !important;
		top: -20px;
	}

	#quickCreateModules a {
		width: 120%;
	}

	.crumbs li {
		width: 94% !important;
		left: -24px;
	}

	.crumbs li:first-child,
	.crumbs li:nth-child(2) {
		margin-bottom: 8px;
	}

	.dashboardHeading.container-fluid {
		margin-left: 37px;
	}
}

@media (min-width: 601px) and (max-width: 799px) {
	.settingsPageDiv .admin-settings {
		margin-top: 0px;
	}

	.settingsPageDiv #search_settings {
		top: -2%;
		right: 0%;
		width: 40%;
	}

	.settingsPageDiv #search_display {
		margin-top: 15px;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 50% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}
}

@media only screen and (min-width: 800px) {
	.settingsPageDiv .admin-settings {
		margin-top: 30px;
	}

	.settingsPageDiv #search_settings {
		top: 0%;
		right: 0%;
		width: 35%;
	}

	.settingsPageDiv #search_display {
		margin-top: 35px;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 33% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}
}

@media only screen and (min-width: 992px) {
	.settingsPageDiv .admin-settings {
		margin-top: 35px;
	}

	.settingsPageDiv #search_settings {
		top: 0%;
		right: 0%;
		width: 30%;
	}

	.settingsPageDiv #search_display {
		margin-top: 45px;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 25% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}
}

@media only screen and (min-width: 1200px) {
	.settingsPageDiv .admin-settings {
		margin-top: 50px;
	}

	.settingsPageDiv #search_settings {
		top: 0%;
		right: 0%;
		width: 25%;
	}

	.settingsPageDiv #search_display {
		margin-top: 75px;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 20% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}
}

@media (width:768px) {
	.table-container {
		margin-left: 4px;
	}

}

@media only screen and (min-width: 1500px) {
	.settingsPageDiv .admin-settings {
		margin-top: 40px;
	}

	.settingsPageDiv #search_settings {
		top: 0%;
		right: 0%;
		width: 25%;
	}

	.settingsPageDiv #search_display {
		margin-top: 75px;
	}

	.settingsPageDiv #search_display ul li {
		display: inline-block;
		width: 7% !important;
	}

	.settingsPageDiv #search_display #empty_settings {
		text-align: center;
		width: 100% !important;
	}
}

@media (max-width: 360px) {
	.module-action-bar #settingsMenuSearch {
		margin: 0px;
	}

	.module-action-bar #accordion {
		left: 15px;
		top: 92px;
		z-index: 1;
		max-width: 220px;
		word-break: break-word;
		overflow-x: hidden;
	}
}

@media (min-width: 601px) and (max-width: 992px) {
	.module-action-bar #settingsMenuSearch {
		margin: 0px;
	}

	.module-action-bar #accordion {
		left: 15px;
		top: 55px;
		z-index: 1;
		max-width: 220px;
		word-break: break-word;
		overflow-x: hidden;
	}
}

@media screen and (max-width: 400px) {
	.user-image-mobile li.dropdown ul.dropdown-menu {
		left: 13px !important;
	}

	li ul.dropdown-menu.profile-dropdown .profile-info .profile-content .p {
		width: 60px !important;
		height: 60px !important;
	}

	li ul.dropdown-menu.profile-dropdown .profile-info .profile-content .p {
		font-size: 36px;
		top: 6px;
	}

	#topbar-elements.full-topbar {
		width: 80% !important;
	}
}

@media screen and (max-width: 600px) {
	.overlayPageContent.fade.in {
		top: 35px !important;
	}

	.table-container .fixed-scroll-table #listview-table.listview-table-norecords.listview-table thead tr th {
		width: 200px !important;
	}
}

@media screen and (max-width:1280px) {
	.main-container .content-area {
		margin-left: 2.5%;
	}
}

/* ipad screen size media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {}

/* ipade pro responsive */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	table.PDFMaker_details_view .fieldValue table {

		width: 660px !important;
	}

	.emailtemplate_page_record_views {
		height: 86vh !important;
	}

	.main-container .sidebar-essentials {
		top: -1px;
		z-index: 1030;
		position: fixed;
	}

	.logo-container a {
		display: block;
	}

	.company-logo {
		width: 65% !important;
	}

	.profile-img {
		display: block;
	}

	.company-logo.shrinked.hide {
		width: 235% !important;
	}

	.Home_side_menu {
		top: 51px;
	}

	.main-container.main-container-Accounts.mt10 {
		margin-top: 0px !important;
	}

	.settings_search.setting_main_search {
		top: 15px;
	}

	.card-header-new {
		background-color: transparent;
	}
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.recentActivitiesContainer.Mob_rela_Width {
		margin-left: 30px;
	}

	.recordEditView {
		/* width: 104% !important; */
	}

	.detailview-content .details .relatedContainer.big_scrn_details_view_ticket {
		margin-left: 25px !important;
	}

	.commentContainer.commentsRelatedContainer.container-fluid.p0.ml35.mac_scrn_comments_section.ipadpro_scr_style {
		margin-left: 28px !important;
	}

	.commentContainer.commentsRelatedContainer.container-fluid.p0.ml35.mac_scrn_comments_section,
	.detailview-content .details .relatedContainer {
		margin-left: 39px !important;
		width: 95% !important;
	}

	.detailview-content .details .relatedContainer.big_scrn_details_view_Contact {
		margin-left: 35px !important;
	}

	.detailview-content .details .relatedContainer.mac_scr_left_align {
		margin-left: 28px !important;
	}

	.detailview-content .details .relatedContainer {
		width: 95% !important;
	}

	.table-container .fixed-scroll-table {
		margin-top: 40px !important;
	}
}

/* Mac screen only */
@media only screen and (max-width:1280px) {
	li ul.dropdown-menu.profile-dropdown {
		top: -6px;
	}

	.settingsIcon .detailViewSetting {
		position: absolute !important;
		left: -30px !important;
		top: 12px !important;
	}

	.table-container {
		left: 4px !important;
	}

	.contents.table-container.ms_srn_table_align {
		left: 15px !important;
	}

	.modal-header button.close_language_editor {
		margin-left: 44px !important;
	}

	.blockLabel .cursorPointerMove {
		margin-top: 0px !important;
	}

	.settingsmenu-starts.p0.mt0.col-lg-12.col-md-12.col-sm-12.col-xs-12.m0.ipad_pro_scr_layouteditorpage {
		width: 100% !important;
	}

	.col-md-11.col-sm-11.mt0.m40.mb20.card-header-new {
		margin-top: 10px !important;
	}

}

@media only screen and (width:1280px) {
	.settingsmenu-starts {
		margin-left: 11px !important;
	}

	.table-container {
		left: 11px !important;
	}

	.cursorPointerMove {
		margin-top: -10px !important;
	}
}



/* Mac screen only */
/* only ipad pro screen  */
@media only screen and (max-width:1024px) {
	.main-container .sidebar-essentials {
		z-index: 8009;
	}

	#listViewContent {
		left: 1px;
	}

	#listViewContent #licence-alert-waring {
		margin-top: 70px;
		margin-bottom: -190px;
	}

	.users-menu-starts {
		margin-top: 80px !important;
	}

	#licence-alert-waring {
		left: 3px;
	}

	.users-menu-starts #licence-alert-waring {
		margin-top: 22px;
	}
}



/* end of only  ipad pro screen */