.page-error
{
font-weight:600;
font-size:220px;
font-style:italic;
font-family:$font-primary;
color:#C0C0C0 !important;
display:flex;
align-items:center;
justify-content:center;
}
.error-msg
{
color:#303030;
font-weight:400px;
font-size:40px;
}
.joicon-smiley2
{
font-size:40px;
}
.ir-response-page
{
//display:flex;
//align-items:center;
//justify-content:center;
height:100%;

}
.container
{
height:100%;
}
.homelink
{
text-decoration:none;
font-size:18px;
color: #0444a7 !important;
}

.homelink:hover
{
  
    &:visited
  {
        text-decoration:none;
  }
  &:link
  {
	text-decoration:underline;
  }
  &:active
  {
	text-decoration:none;
  }
}
.error-box
{
text-align:center;
}
.container-error-box
{
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
}
