
/*  Margin & Padding Start */

@for $i from 0 through 10 {
    //Margin
   .m#{$i * 5} { margin: 1px *($i * 5) !important; }
   .mt#{$i * 5} { margin-top: 1px *($i * 5) !important; }
   .mb#{$i * 5} { margin-bottom: 1px *($i * 5) !important; }
   .ml#{$i * 5} { margin-left: 1px *($i * 5) !important; }
   .mr#{$i * 5} { margin-right: 1px *($i * 5) !important; }
   
   //Padding
   .p#{$i * 5} { padding: 1px *($i * 5) !important; }
   .pt#{$i * 5} { padding-top: 1px *($i * 5) !important; }
   .pb#{$i * 5} { padding-bottom: 1px *($i * 5) !important; }
   .pl#{$i * 5} { padding-left: 1px *($i * 5) !important; }
   .pr#{$i * 5} { padding-right: 1px *($i * 5) !important; }
}

//Margin All
@mixin margin($value) {
    margin:$value;
}
//Margin Individual
@mixin margin-all($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;  
}
//Padding All
@mixin padding($padding) {
  padding: $padding;
}
//Padding Individual
@mixin padding-all($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

 /* Margin & Padding END */