

/*  Changes in calendar  */

.fc-widget-content{
	border-top:none;
	.fc-day-grid.fc-unselectable{
		display:none;
	}
	.fc-divider.fc-widget-header{
		display:none; 
	}
	.fc-slats{
		.fc-minor{
			display:none;
		}
		.fc-axis.fc-time.fc-widget-content{
			height:40px;
		}
	}
}

.fc-content-col{
	.fc-event-container{
		a.fc-time-grid-event{
			padding:10px 3px 25px 3px;

			&:hover, &:focus{
				color:#fff !important;
			}
		}
	}
}

.fc-event-container{
	a{
		&:hover, &:focus{
			color:#fff !important;
		}
	}
}

.fc-row .fc-bg{
	border-bottom:1px solid #e8e8e8;
}

.fc-scroller.fc-day-grid-container{
	.fc-day-grid.fc-unselectable{
		display:block;
	}
	.fc-content-skeleton{
		display:block;
	}
}

.fc-header-toolbar{
	.fc-center{
		h2{
			font-size:20px;
		}
	}
}

.fc-axis.fc-time.fc-widget-content{
	border:none;
	border-bottom:1px solid #e8e8e8;
}

.fc-axis.fc-widget-content{
	border:none;
}

.fc-axis.fc-widget-header{
	border:none;
	border-right:1px solid #e8e8e8;
}

.fc-widget-content{
	border-top:none;
}

.fc-row.fc-widget-header{
	border-right-width:0px !important;
}

.fc-day-top{
	border-top:none !important;
}

.fc-day-header.fc-widget-header{
	font-size:13px;
	border-right:1px solid #e8e8e8 !important;
}

.calendarview .agendaListView{
	overflow-y:auto !important;
}

.fc-button-group{
	.fc-prev-button.fc-state-default, .fc-next-button.fc-state-default, .vt-goto-date.fc-state-default{
		border:none !important;
		background:none !important;
		box-shadow:none !important;
		font-size:15px;
	}
	button{
		font-size:15px !important;
	}
}

.fc-right{
	.fc-button.fc-today-button{
		border-color:$primary-color !important;
		font-size:15px !important;

		&:hover{
			background:$primary-color !important;
			color:#fff !important;
		}
	}
	.fc-button.fc-today-button.fc-state-disabled{
		&:hover{
			background:none !important;
			color:#333 !important;
		}
	}
}

.topbar-qtip{
	&:hover, &:focus{
		a{
			color:$primary-color !important;
		}
	}
	a{
		&:hover, &:focus{
			color:$primary-color !important;
		}
	}
}

.topbar-qtip.active{
	a{
		color:$primary-color;
	}
}

.fc-button.fc-state-default{
	border: 1px solid #e8e8e8 !important;
	padding: 7px 8px !important;
	height: auto;
	background: #fff;
	color: #333 !important;
	font-weight: 500;
	text-shadow:none !important;
}

.fc-button.fc-state-active{
	background:$primary-color !important;
	color:#fff !important;
}

.fc-left{
	.fc-corner-left{
		border-radius:5px 0px 0px 5px !important;
	}
	.fc-corner-right{
		border-radius:0px 5px 5px 0px !important;
	}
}

.fc-day-header{
	background:#fff !important;
	color:#333 !important;
	border:none !important;
	border-right:1px solid #ececec;
}

.calendarview .agendaListView{
	padding:1% 2% !important;
}

.calendarview .agendaListView .agendaListDay hr{
	border-top:1px solid #e8e8e8 !important;
}

.calendarview .agendaListView .agendaListDay .agendaListViewBody .agenda-event-wrapper{
	border-bottom:1px solid #e8e8e8;
}

.fc-row.fc-week.fc-widget-content{
	border-right-width:0px !important;
}

.fc-view-container{
	table{
		th, td{
			border-color:#ececec !important;
		}
	}
}

.fc-bg{
	table{
		td.fc-state-highlight{
			background:none !important;
			border:2px solid #8dd2fe !important;
			border-bottom:none !important;
		}
		td.fc-widget-content{
			border-top:none !important;
		}
	}
}

.fc-bg table td.fc-state-highlight{
	border:2px solid lighten($primary-color , 25%) !important;
	border-bottom:none !important;
	border-top-width:3px !important;
}

.fc-day-top.fc-state-highlight{
	background:lighten($primary-color , 35%) !important;
}

.activitytype-actions{
	
	.fa{
		color:#fff;
	}

	input[type=checkbox]:checked::after{
		top:-3px !important;
		color:#333 !important;
		font-size:15px;
	}
}

.agendaListViewHeader{
	.day, .weekDay{
		color:#555;
	}
}

.activitytypes .activitytype-indicator{
	margin:8px 0px !important;
	padding:5% 3% !important;
}

.calendar-sidebar-tab{
	.list-menu-content{
		height:90vh;
		overflow:hidden;
		overflow-y:auto;
	}
}



