
/*  custom style */

.main-container{
	margin-top:10px;
	.content-area{
	padding-left:0px;
	padding-top:1px !important;
	background:#fff !important;
	overflow:hidden;
	overflow-x:auto;
	}
	.content-area.full-scrn{
		padding-left:0px !important;
	}
	.sidebar-essentials{
		width:200px !important;
	}
	.viewContent .content-area{
	padding-left:0px !important;
	background:#fff !important;
}
}

#createFilter, #createFolder{
	text-transform:none !important;
}

.update-name{
	font-size:15px;
}

.quickLinksDiv{
	margin-top:20px;

	p.unSelectedQuickLink{
		background:none;
		border:none;
		box-shadow:none;
		padding:0px;
		margin:10px 0px;
		font-size:17px;
	}
}

.dropdown-menu .divider{
	margin:0px;
}

.dropdown-menu>li.dropdown-header{
	padding:10px !important;
}

.treeView{
	.toolbar-handle{
		a.droppable{
			border:1px solid #ccc;
			background:#fff;
		}
	}
	li
	{
		&:before
		{
			content:" ";
			width:30px;
			height:25px;
			position:absolute;
		}
		&:last-child
		{
			border-left:none;
			&:before
			{
				border-left:4px solid #ddd;
			}
		}
	}
}

.sidebar-hide{
	border:1px solid #e9e9e9;
	padding:1px;
	font-size:15px;
	width:18px;
	position:absolute;
	left:8px;
	top:110px;
}

.dashBoardContainer .tabContainer .nav{
	.moreSettings.pull-right{
		padding-bottom:5px;
	}
}

.modal-overlay-footer{
	border-left:none;
}

ul.dropdown-menu{
	padding:0px;
	li{
		padding:0px;
	}
}

#quickCreateModules .quickcreateMoreDropdown{
	width:200px !important;
	padding:0px;

	li{
		a{
			padding:0px 10px;
		}
	}
}

.listViewPageDiv.content-area.full-width, .CalendarViewPageDiv.content-area.full-width, .editViewPageDiv.content-area.full-width, .settingsPageDiv.content-area.full-width{
	padding-left:0px;
	overflow:hidden;
}

.app-nav .module-action-bar{
	height:52px;
	background:#f8f8f8 !important;

	.module-action-content{
		background:#f8f8f8 !important;
		// display: flex;
		align-items: center;
		width: 100%;
	}
}

.settingsPageDiv{
	&.content-area{
		padding-top: 20px !important;
	}
	#listview-actions .usersinfo.textOverflowEllipsis
	{
		padding:0px;
	}
} 

@media screen and (min-width:992px){
	.app-nav .module-action-bar{
		padding-left:0px;
	}
}

.related-tabs{
	.nav.nav-tabs{
		li{
			a{
				strong{
					font-size:16px !important;
				}
			}
		}
	}
}

.main-container .sidebar-essentials{
	left:10px !important;
}

#forecast-view.btn,#backto-list-view{
	margin-right:5px;
	border-radius:0px !important;
	background:#fff;
	border:1px solid #e8e8e8 !important; 
	margin-top:4px;
}


#potential-list-view.btn{
	margin-right:5px;
	border-radius:0px !important;
	background:#fff;
	border:2px solid #e8e8e8 !important;
	margin-top:3px;
}

#forecast-view.btn.active, #potential-list-view.btn.active{
	border-color:#afafaf !important;
}

.quickviewcontent{
	border:2px solid #f6f6f6;	
}

.detailview-header .recordImage [class^="vicon-"]{
	font-size:25px !important;
}

.quickPreviewModuleHeader {
    padding-right: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left:0px !important;
    margin-right:0px !important;
}

.quickPreviewSummary{
	margin-bottom:20px;
}

.quickPreviewComments{
	margin-bottom:150px;
}

#QuickCreate .modal-body{
	max-height:80vh !important;
}
.modal-backdrop{
	background:rgba(0, 0, 0, 0.91);
}

.record-header {
	#quick-view-module-image{
		.name{
			width: 15% !important;
			display: inline-block;
			position: relative;
			float:left;
			top: 0px;

			i{
				font-size:50px;
			}
		}
		.recordBasicInfo{
			padding-left: 30px !important;
			width: 80% !important;
			display: inline-block;
		}
	}
}

.modal.myModal{
	z-index:11000;
	.modal-dialog{
		margin:0px !important;
		position:absolute;
		right:0px;
		top:0px;
		width:45vw;
		min-height:100vh;
		overflow-y:auto;

		.modal-content{
			width:45vw;
			height:100vh;
			position:absolute;
			right:0px;
			border:none;

			&.roles-modal
			{
				    height: 90vh;
                    position: initial;
			}

			.modal-header{
				top:0px;
				width:45vw;
				position:absolute;
				right:0px;
				z-index:1;

				h1, h2, h3, h4, h5, h6{
					color:#fff !important;
				}
			}
			.modal-body{
				height:85vh !important;
				overflow:hidden;
				overflow-y:auto;
				padding-top:70px;

				.mCustomScrollBox{
					max-height:80vh !important;
				}

				label{
					font-weight:normal;
					color:#303030;
				}

			}
			.modal-footer{
				bottom:0px;
				width:45vw;
				position:absolute;
				text-align:center;
			}
		}

		.modal-content.increase-width-modal{
			width:55vw;

			.modal-header{
				width:55vw;
			}
			.modal-footer{
				width:55vw;
			}
			.modal-body{
				padding-top:70px;
			}
		}
		animation: modalanimate .7s;
	}

}

.select2-drop.select2-drop-multi{
	z-index:1000 !important;
}

.modal.bootbox-confirm{
	z-index:12000;
}

.modal.popupModal{
	z-index:12000;
}

#md-container{
	margin:0px !important;
	padding:0px !important;	
}

#md-container h2{
	font-size:15px !important;
}

#md-body{
	#md-module-name, table{
		tbody{
			tr{
				td{
					font-size:15px !important;

					.select2-container.select2{
						width:30% !important;
					}
				}
			}
		}
	}
	#md-filter-fields-list li, #md-events-list li, #md-modules-list li, #md-custom-links-list li, #md-fields-list li, .md-fields-ul li{
		font-size:15px !important;
		overflow:hidden;
		text-overflow:ellipsis;
		&:hover, &:focus, &:active{
			background-image:-webkit-linear-gradient(right, #FFF, #376d48) !important;
		}
	}
	#md-fields-list li:active{
		background-image:-webkit-linear-gradient(right, #FFF, #376d48) !important;
	}
	.md-anchor-over{
		border-color:$primary-color !important;
	}
}

.btn.joforce-default{
	margin-left:10px;
}

#searchResults-container{
	max-height:100vh !important;
	height:95vh !important;
	overflow:hidden;
	overflow-y:auto;
}

#popupModal{
	z-index:11000;
}

.modal.content-area{
	z-index:10000;
}

.well.exportContents{
	background:#fff !important;
	border:none;
}

.modal-header button.close{
	opacity:1;
}

.overlayHeader .modal-header .close{
	color:#fff !important;
}


.modal-header{
	background-image: linear-gradient(to right, #1b7b53 0%, #23ad72 100%) !important;
	-webkit-background-image: linear-gradient(to right, #1b7b53 0%, #23ad72 100%);
	-moz-background-image: linear-gradient(to right, #1b7b53 0%, #23ad72 100%);
	-o-background-image: linear-gradient(to right, #1b7b53 0%, #23ad72 100%);

	h1, h2, h3, h4, h5, h6{
		color:#fff !important;
	}
}


.fc-overlay-modal.overlayDetail{
	.modal-content{
		background:#fff !important;
		.overlayDetailHeader{
			.record-header{
				.recordBasicInfo{
					padding-left:100px !important;

					a.showMap{
						&:hover{
							color:$primary-color !important;
						}
					}
				}
			}
		}

		.modal-body{
			background:#fff !important;

			.info-row{
				a{
					&:hover{
						color:$primary-color !important;
					}
				}
			}
		}
	}
}

#importContainer.modal-body{
	height:90vh;
}

.companydetailsedit .company-logo-content{
	width:220px;
}

#moveReportsContainer.modal-dialog, #massEditContainer.modal-dialog{
	width:45vw;

	.modal-content{
		height:92vh;
	}
}

.editViewPageDiv {
	.reports-content-area{
		background:#fff !important;	

		.well.contentsBackground{
			background:#fff !important;
		}
	}
	.editViewBody 
	{ 
		.choose-profile
		{
		  display:flex;
		  justify-content:flex-end;
		  padding-right:30px;
		 #s2id_directProfilePriviligesSelect
		  {
			width:35%;
	    	}
	   }
	   .edit-profile
	   {
	   	  padding-left:138px;
	   }
	}

}

.lists-menu-container .toggleFilterSize{
	color:$primary-color !important;
	font-size:15px !important;
}

.settingsPageDiv .modal-overlay-footer{
	margin-left:0px !important;
}

.btn-group.listViewActionsContainer{
	margin:0px !important;
	.btn.btn-action{
		background:none;
		width:25px;
		height:25px;
		border:1px solid #e8e8e8;
		padding:0px 0px;	
		margin-left:0px !important;
		margin-top:1px !important;
		border-radius:0px !important;

		.caret{
			bottom: 4px !important;
		    position: relative;
		    left: -2px;
		}
	}
}

.selectedModule{
	 background-color:$primary-color important; 
	 color: #fff!important; 
	 font-weight: inherit; 
	 border-color: $primary-color !important;
}

.filterContainer.filterElements.well{
	border:none;
}

@keyframes modalanimate{
	0%{
		transform:translateX(50%);
	}
	100%{
		transform:translateX(0);
	}
}

.detailViewTitle{
	margin-top:10px;

	.font-x-x-large{
		margin-top:20px !important;
	}
}

.settingsIndexPage{
	pre{
		background:#fff;
		border:none;
		font-size:15px;
	}
}

.tag{
	background:$primary-color !important;
	border-color:$primary-color !important;
}


.detailview-content{
	padding-bottom:0px !important;
	height:auto;
}

.form-horizontal .control-label{
	text-align:left;
	font-weight:normal;
	color:#303030;
}

a.cursorPointer{
	&:hover, &:focus{
		color:$primary-color;
	}
}

ul.dropdown-menu.profile-dropdown{
	padding:0px !important;

	li{
		a{
			padding:8px !important;
		}
	}
}

.dropdown-menu>li>a{
	padding:8px 10px !important;

	&:hover{
		color:#333 !important;
	}
}

.settingsIcon.open{
	.dropdown-menu>li>a{
		padding:8px 10px;

		&:hover{
			color:#333 !important;
		}
	}
}

.docs-submenu{
	background:#3E516D !important;
}

.app-menu{
	width:200px !important;
}

.app-menu .app-modules-dropdown{
	left:198px !important;
	width:200px !important;
	height:100vh !important;
}

.detailViewSetting.dropdown-menu{
	li{
		padding:0px !important;
	}
}

.quickCreateModule, .quickCreateModuleSubmenu{
	&:hover{
		i, span{
			color:$primary-color !important;
		}
	}
}

#quickCreateModules .quickcreateMoreDropdown{
	left:25% !important;
	top:30px !important;
	box-shadow:0px 0px 10px rgba(0,0,0,0.19);

	li{
		margin:8px 0px;
	}
}

.quickcreateMoreDropdown.dropdown-menu{
	&:before{
		top:-8px;
		left:0px !important;
		width:10px;
	}
	&:after{
		left:0px !important;
		width:14px;
	}
}

.detailview-header .recordImage [class="joicon"]{
	font-size:30px !important;
}
.detailViewContainer .recordImage{
	height:50px !important;
	width:50px !important;
}  
.record-header {
	min-height:60px !important;
	.recordBasicInfo{
		padding-left:60px !important;
	}
}

.btn:focus, .btn:active:focus{
	outline:none !important;
}

.btn-paginate{
	background:none;
	border:none;
	font-size:15px;
	margin:5px;
	vertial-align:middle;

	&:hover, &:focus{
		border:none;
		box-shadow:none;
	}
}
.btn-paginate[disabled]{
	opacity:0.2;
}


.tab-item, .more-tab{
	.tab-icon{
		i{
			font-size:18px;
		}
	}
}

.input-group span.input-group-addon{
	// border-color:#e8e8e8 !important;
	border-color:#c1bebe !important;
}

.table.detailview-table.no-border .ajaxEdited .input-group-addon.inlineAjaxCancel{
	border-color:#e8e8e8 !important;

	&:hover{
		border-color:#5d5d5d !important;
	}
}

.referencefield-wrapper.selected{
	.input-group{
		width:80%;
		.inputElement{
			width:100% !important;
		}
	}
}

.input-save-wrap{
	width:20%;
	float:right !important;
	.input-group-addon-save{
		background:none;
		border-bottom:1px solid #e8e8e8 !important;
		position:relative;
		top:4px;
		width:50%;

		&:hover{
			border-color:#5d5d5d !important;
		}
	}
	.input-group-addon-cancel{
		border-bottom:1px solid #e8e8e8 !important;
		position:relative;
		top:4px;
		width:50%;

		&:hover{
			border-color:#5d5d5d !important;
		}
	}
	.input-group-addon{
		border-bottom:0px;
		.fa.fa-check{
			color:#32a082;
		}
		.fa.fa-close{
			color:rgb(255, 94, 94) !important;
		}
	}
}

.viewContent{
	.content-area{
	padding-left:43px !important;
	padding-top:1px !important;
	}
}

.js-popover-container .rotate{
	color:$primary-color !important;
}

.joforce-bg{
	width:100%;
	margin-left:0px;
	border-radius:0px;
	padding-top:0px !important;
}

.select2_search_div{
	width:150px !important;
	overflow:hidden !important;
}

.detailViewContainer .block{
	padding-top:20px;
	padding-bottom:5px;
}

.detailViewContainer .commentContainer .showcomments{
	padding-bottom:10px;
}

.btn-group{
	margin-left:10px !important;
	.btn{
		margin:0px 0px !important;
	}
}

.clearReferenceSelection{
	border:none !important;
	border-bottom:1px solid #ddd !important;
}

#joforce-search-box{
	width:7%;
	background:url("images/magnifier.png") no-repeat left;
	background-color:#fff;
	border:none;
	color:#303030;
	border-radius:0px;
	padding:3px 0px 3px 25px;
	margin-top:5px;
	font-size:15px;
	float:right;
	cursor:pointer;
	transition:all .5s;

	&:focus{
		width:90% !important;
		border-bottom:1px solid lighten($primary-color , 5%) !important;
	}
}

.importServiceSelectionContainer{
	.menu-item{
		h4{
			color:#fff !important;
		}
	}
}
.app-menu, .app-menu .app-modules-dropdown, .settingsgroup .panel-group .panel, .settingsgroup div.panel-collapse, .settingsgroup, .module-nav .modules-menu, .app-switcher-container .app-navigator{
	background-color:#303030 !important;
}

.fa-pencil{
	&:hover{
		color:$primary-color !important;
	}	
}

#prefPageHeader{
	.joforce-bg-prefer{
		.logo{
			img{
				border-radius:50% !important;
			}
		}
	}
}

.recordImage.bgcontacts{
	img{
		width:50px;
		height:50px;
		border-radius:50% !important;
	}
}

#userPageHeader{
	.recordImage{
		img{
			border-radius:50% !important;
		}
	}
}

.quickWidgetContainer .quickWidget .quickWidgetHeader{
	background-image:-webkit-linear-gradient(right,#d8d8d8,#b3b3b3) !important;
	padding:0px !important;

	img{
		margin:10px 0px 0px 10px;
	}
}

.sidebar-block{
	a{
		&:hover, &:focus, &:active{
			color:$primary-color !important;
		}
	}
}

.widgetContainer.accordion-body{
	height:35px !important;
	padding:0px 10px;
}

.current-filter-name{
	a{
		&:hover, &:focus{
			color:$primary-color !important;
		}
	}
}

.main-container-EmailTemplates{
	.table-actions{
		#joforce-table-search{
			margin-left:6px !important;
			position:relative !important;
			margin-top:0px !important;
		}
	}
}

#TemplateIFrame{
	border:1px solid #e8e8e8;
}

.table.detailview-table.no-border{
	tr{
		td.fieldValue{
			float:left;
			width:90%;
			position:relative;
			left:0px;
		}
		.input-group-addon-cancel{
			top:2px;
		}
		.input-group-addon-save{
			top:2px;
		}
	}
}

.joforce-bg-prefer{
	padding-bottom:0px;
}
.joforce-bg-prefer-detail{
	padding-top:0px;
}
.draggable{
	height:100% !important;	
	li{
		height:auto !important;
	}
}

#forecast-div{
	.draggable.ui-sortable{
		height:700px !important;
	}
}

.blockHeader th{
	color: #333 !important;
	background: #fff !important;
	border: 1px solid #ddd !important;
}
.onoffswitch1-switch{
	right:60px !important;
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch{
	right:0px !important;
}

.serversettings-table{
	tbody{
		margin-top:40px !important;
		display:table; 
		tr{
			td{
				border:none !important;
				text-align:left !important;
			}
		}
	}
}

.listaction-disabled{
	display:none !important;
}

.help-inline{
	overflow:hidden;
	text-overflow:ellipsis;
}

.sidebar-essentials {
	.list-menu-content{
		.list-group{
			ul.lists-menu{
				li{
					a{
						font-size:15px !important;
					}
				}
			}
		}
	}
}

.listViewPageDiv.content-area.nosidebar{
	padding-left:0px !important;
}

.mCSB_inside>.mCSB_container{
	margin-right:5px !important;
}

/*  Admin page style   */

.main-container{
	.settingsgroup{
		background:#303030 !important;
		height:100%;

		.panel-group{
			padding-top:45px !important;
		}

		.panel-group .panel{
			background:#303030 !important;

			.app-nav{
				a{
					font-size:15px !important;
				}
			}
			.list-group.widgetContainer{
				background:#303030;
			}
		}
		.panel-collapse.ulBlock{
			ul{
				li{
					a{
						font-size:15px !important;
					}
				}
			}
		}
	}
}

.settingsNav{
	.settingsgroup{
	}
}


.settingsPageDiv.content-area.clearfix{
	background:#fff !important;
}

.panel-collapse ul li a:hover, .panel-collapse ul li a.settingsgroup-menu-color{
	background:#212121 !important;	
}

.admin-settings{

	.horizontal-hr{
		border-top:1px solid #efefef;
		span{
			position:relative;
			font-size:16px;
			bottom:12px;
			background:#fff;
			padding-right:15px;
			font-weight:bold;
		}
	}

	.marketing{
		.settings-list{
			li{
				white-space:normal;
			}
		}
	}

	.settings-list{
		li{
			width:12%;
			list-style:none;
			text-align:center;
			margin:25px 20px;
			display:inline-table;
			white-space:normal;
			cursor:pointer;


			a{
				text-align:center;
				color:#333;
				font-weight:500;
				font-size:15px;
			}

			label{
				width:60px;
				height:60px;
				border:1px solid transparent;
				border-radius:50%;
				text-align:center;
				padding:10px 0px; 
				background:$admin-icon-color;
				cursor:pointer;

				
				span{
					color:#fff;
					text-align:center;
					vertical-align:middle;
					font-size:28px;
				}
				p{
					font-size:15px;
					margin-top:20px;
					color:#333;
				}
			}
		&:hover{
			label{
				box-shadow:0px 0px 10px rgba(0,0,0,0.1);
				background:darken($admin-icon-color , 10%);
				border-color:$admin-icon-color;

				span{
					color:#fff;
				}
			}
		}
		}
	}
}

button.btn-scroll{
	width:60px;
	height:60px;
	border-radius:50%;
	background:lighten($primary-color , 15%);
	opacity:0.6;
	color:#fff;
	font-size:20px;
	text-align:center;
	position:fixed;
	right:40px;
	bottom:60px;
	border:none;
	display:none;
}

.overlay-container-300{
	margin-left:0px !important;
}

/*  End Admin page style  */

/* Settings page style */
.notification-enable {
  display: inline-block;
  padding: 15px 0px; }
  .notification-enable #global-notification-box {
    margin-right: 10px; }
  .notification-enable label {
    cursor: pointer;
    font-weight: normal; }

#notification-editor-div {
  padding: 20px 0px 50px 0px; }
  #notification-editor-div .notification-editor-module .accordion-module {
    background: #fff;
    padding: 10px 10px;
    display: block;
    border-top: 1px solid #e8e8e8;
    cursor: pointer; }
  #notification-editor-div .notification-editor-module .toggle-icon {
    display: inline-block;
    font-size: 18px;
    float: right; }
  #notification-editor-div .notification-editor-module .accordion-panel {
    padding: 20px 30px;
    display: none; }
    #notification-editor-div .notification-editor-module .accordion-panel .notification-message {
      padding: 10px 0px; }
      #notification-editor-div .notification-editor-module .accordion-panel .notification-message .check-box {
        margin-right: 10px; }
      #notification-editor-div .notification-editor-module .accordion-panel .notification-message label {
        font-weight: normal; }
  #notification-editor-div .notification-editor-module:last-child {
    border-bottom: 1px solid #e8e8e8; }

/* Address lookup */
.onoffswitch1 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch1-checkbox {
  display: none; }

.onoffswitch1-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 30px; }

.onoffswitch1-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch1-inner:before, .onoffswitch1-inner:after {
  display: block;
  float: left;
  width: 40%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.08) inset; }

.onoffswitch1-inner:before {
  content: "Enabled";
  width: 100px;
  padding-left: 10px;
  background-color: #1C7C54;
  color: #FFFFFF;
  border-radius: 30px 0 0 30px; }

.onoffswitch1-inner:after {
  content: "Disabled";
  padding-right: 8px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
  border-radius: 0 30px 30px 0; }

.onoffswitch1-switch {
  display: block;
  width: 27px;
  height: 30px;
  margin: 1px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  box-shadow: 0 1px 1px white inset; }

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
  margin-left: 0; }

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
  right: -11px; }

.pointer {
  cursor: pointer; }

.unchecked {
  color: grey; }

.checked {
  color: green; }

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none; }

input#APIkey {
  outline: none;
  border: 1px solid #e8e8e8;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 20px; }

.jo-link:hover {
  color: #1C7C54; }

.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.scroll {
  overflow-y: auto;
  overflow-x: auto;
  height: 300px; }

/* language editor */
table.language-table thead th {
  width: 50%; }
table.language-table tbody td input {
  width: 80%;
  border: none;
  outline: none; }
table.language-table tbody td .language-edit {
  display: inline-block;
  margin-left: 15px; }
  table.language-table tbody td .language-edit span {
    width: 25px;
    height: 25px;
    padding: 3px;
    cursor: pointer;
    text-align: center; }
    table.language-table tbody td .language-edit span.save-edit, table.language-table tbody td .language-edit span.save-add-edit {
      color: #32a082; }
    table.language-table tbody td .language-edit span.close-edit {
      color: #ff5e5e; }
table.language-table tbody td.active-editable input.language-input {
  border-bottom: 1px solid #1C7C54; }

/* End settings page style */

@media screen and (max-width:800px){
	
	.main-container{
		margin-top:100px;
		width:100% !important;
	}	

	footer.app-footer{
		position:relative !important;
	}

	.dashBoardContainer .tabContainer .nav{
		margin-top:60px;
	}

	.block{
		padding:0px !important;
	}

	.bodyContents{
		width:100% !important;
	}

	.contents{
		width:100% !important;
		overflow:hidden;
	}

	.settingsPageDiv.content-area.clearfix{
		width:100% !important;
	}

	.sidebar-essentials{
		display:none;
	}
	
	.modal.myModal{
		.modal-dialog{
			.modal-content{
				width:100vw;
				.modal-header{
					width:100vw;
				}
				.modal-footer{
					width:100vw;
				}
			}
		}
	}

	.draggable li{
		margin-bottom:46px !important;
	}
	.detailview-table .fieldLabel{
		display:inherit !important;
	}

	.content-area{
		padding-left:20px !important;

		.form-horizontal{
			overflow:hidden;
			overflow-x:auto;
			padding-left:0px !important;
		}
	}

	.listViewPageDiv.content-area .floatThead-floatContainer.floatThead-container table thead .listViewContentHeader th .table-actions #joforce-table-search{
		margin-left:22% !important;
	}

	.dashBoardTabContents{
		width:100%;
		.gridster_2{
			ul{
				width:auto !important;

				.dashboardWidget{
					width:100% !important;
				}
			}
		}
	}

	.fc-left{
		width:70%;
		margin-left:15%;
		text-align:center;
	}
	.fc-right{
		margin-top:10px;
		width:50%;
		float:right !important;

		.fc-button-group{
			margin-left:0.15em !important;
		}
	}
	.fc-center{
		margin-top:10px;
		width:50% !important;
		float:left !important;
	}
	.admin-settings{
		.settings-list{
			padding-left:0px;
			li{
				width:25%;
				margin:25px 40px 25px 25px;

			}
		}
	}
	.detailViewSetting.dropdown-menu{
		background:#fff !important;
		box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1) !important;
		li{
			a{
				color:#333 !important;
			}
		}
	}
	.nav-pills.nav-wizard{
		li{
			width:50%;
			display:inline-block;
		}
	}
	.table.detailview-table.no-border tr td.fieldValue{
		width:100%;
		overflow:hidden;
		overflow-x:auto;
	}
	.detailview-table .fieldLabel{
		width:40% !important;
	}
	.clearfix.treeView{
		ul{
			padding:0px;
		}
	}
	.editViewContents{
		.form-group{
			.fieldLabel, .fieldValue{
				width:100% !important;
			}
		}
	}
	.usersListDiv{
		.select2-container.select2{
			width:100% !important;
		}
	}
	.editViewContents.table-container{
		overflow-x:auto !important;
	}
	.joforce-bg-prefer{
		.logo{
			padding:0px !important;
		}
	}
	.menu-box .more-menu-section li.more-menu-list{
		width:100% !important;
	}
	.crumbs li{
		width:32% !important;

		.stepNum{
			font-size:14px;
		}
	}
	.fieldLabel.control-label{
		padding-left:25px;
	}
	.editFields.marginLeftZero{
		.row-fluid.padding1per{
			.fieldLabel{
				width:60%;
				overflow:hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
			}
		}
	}
	.formChanged{
		div{
			width:100% !important;
			top:0px !important;
		}
	}
	#detailViewLayout{
		h4{
			top:0px !important;
		}
		.marginLeftZero{
			div{
				span{
					margin-top:10px !important;
				}
			}
		}
	}
	.blockFieldsList.blockFieldsSortable{
		overflow-x:auto;
		.connectedSortable{
			min-width:100% !important;
		}
	}
	#vtaddresslookup{
		width:100% !important;
		a{
			&:hover, &:focus, &:active{
				color:$primary-color !important;
			}
		}
	}
	.fieldLabel.textOverflowEllipsis{
		span.muted{
			width:100% !important;
			padding-left:25px;
			white-space:nowrap;
		}
	}
	.fieldValue{
		padding-left:25px !important;
	}
	.importBlockContainer{
		overflow:auto !important;
	}

}

@media screen and (max-width:1000px){
	#page{
		min-height:100% !important;
	}
	footer.app-footer{
		position:relative !important;
	}
}

@media screen and (min-width:801px) and (max-width:1100px){
	.main-container{
	display:flex;

		.sidebar-essentials {
			width:25% !important;
		}
		.content-area{
			width:100% !important;
		}
		.content-area.full-width{
			width:75%;
		}
	}
	.admin-settings{
		.settings-list{
			li{
				width:15%;
				white-space:normal;
			}
		}
	}
	.detailViewSetting.dropdown-menu{
		background:#fff !important;
		box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1) !important;
		li{
			a{
				color:#333 !important;
			}
		}
	}
	.draggable li{
		margin-bottom:46px !important;
	}
	.nav-pills.nav-wizard{
		li{
			width:25%;
			display:inline-block;
			margin:5px 0px;
		}
	}
	.summaryWidgetContainer{
		.joforce-detailview-btn{
			.addButton{
				margin-top:5px;
			}
		}
	}
	
}





