/*  custom style for dashboard content  */


/*
.dashBoardContainer{
	.dashBoardTabContents{
		ul{
			li{
			border-radius:0px;
			box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
			border:1px solid #dadada !important;
			}
		}
	}
}

.dashboardTitle{
	border-bottom:1px solid #e8e8e8;
	padding-bottom:5px;
}

.dashBoardContainer{
	background:#fff !important;
}

*/

.dashboardWidgetContent{
	overflow:hidden;
}

.dashBoardContainer .tabContainer{
	margin-top:12px !important;
}

.dashboardHeading.container-fluid{
	margin-top:5px;
}

.dashboardHeading{
	.dropdown-menu{
		height:auto;
		max-height:500px;
		overflow:hidden;
		overflow-y:auto;
	}
}

.noDataMsg{
	position:absolute;
	top:90px;
}

.module-breadcrumb{
	.nav.nav-tabs{
		border-bottom:none;
		li{
			a{
				background:none !important;
			}
		}
	}
}

.dashboard-top{
	a{
		h4{
			padding-top:5px;
		}
	}
}

.dashboard-top.active-dashboard{
	a{
		h4{
			font-weight:600;
			padding-bottom:15px;
			border-bottom:2px solid $primary-color;
		}
	}
}