
body{
	font-family: $font-primary  !important;
	font-size:15px !important;
	font-size:100%;
	-webkit-text-stroke-width: .05px;


}

h1, h2, h3, h4, h5, h6{
    font-family: $header-font !important;
}

p, label, strong, b{
	font-family: $font-primary !important;
}

th{
    font-family: $header-font !important;
}

.dropdown-menu > li > a{
	font-size:15px;
}

.custom-nav{
	li{
			font-family: $font-primary !important;
	}
}

.fieldLabel label{
	font-weight:400 !important;
	font-family:$font-primary !important;
	font-size:15px !important;
}

.fieldValue{
	font-size:15px !important;
}

.btn{
	font-weight:400 !important;
	font-family:$font-primary !important;
	font-size:15px !important;
} 

.dashboardTitle, .fieldBlockHeader{
	b{
		font-family:$header-font !important;
	}
}

.update_info{
	span{
		font-size:15px;
	}
}

.select2-container-multi .select2-choices .select2-search-choice{
	font-family:$font-primary !important;
}

.select2-results .select2-result-label{
	font-family:$font-primary !important;
}

.reports-content-area .crumbs li{
	font-family:$font-primary !important;
	a{
		.stepText{
			font-size:15px !important;
		}
	}

	&:hover{
		background:#ececec !important;
	}
}

.current-filter-name.filter-name{
	font-size:15px;
}

.moduleManagerBlock{
	.moduleName{
		h5{
			font-size:15px;
			font-family:$font-primary !important;
		}
	}
}

#md-header{
	.nav-tabs{
		li{
			a{
				font-size:15px;
			}
		}
	}
}



