/*  custom style */

.red-border{
	width:22px;
	position:absolute;
	left:0px;
	border-bottom:2px solid #f00;
	top:38px;
}

.editViewContents .fieldValue{
	width:100% !important;
	margin-bottom:10px;
	margin-top:10px;
}

td.fieldValue{
	span{
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
}

td.fieldValue, td.fieldLabel{
	margin-top:10px;
}

.editViewContents .fieldLabel{
	width:100% !important;
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #f2f2f2;
	// border-bottom:1px solid #c1bebe;
	padding-bottom:8px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:left;
}

.btn{
	border-radius:2px !important;
	font-size:15px !important;
	line-height:1.5 !important;
	 padding:5px 10px !important;
	border-width:1px !important;
	text-shadow:none !important;
} 

.datepicker, .timePicker{
	z-index:11010 !important;
}

.chckbox{
	border-bottom:1px solid #f1f1f1;
	padding-bottom:7px;
	/* -moz-padding-bottom:4px !important;
	-webkit-padding-bottom:7px; */ 
}

#listview-table .inline-save button{
	width:25px !important;
}

.btn.btn-secondary{
	border-color:$primary-color !important;
	background:none !important;
	transition:all .3s;

	&:hover{
		background:$primary-color !important;
		color:#fff !important;
	}
}

form.recordEditView{
	ul.nav-tabs{
		li.active{
			border-bottom:2px solid $primary-color;
		}
	}
}


.settingsIcon .btn-default, .import-icon .btn-default, .inActiveFields.btn-default, .listViewMassActions .btn-default, .joforce-import-btn .btn-default, .btn-default, .btn-primary{
	border-width:1px !important;

	&:hover, &:focus, &:active{
		border-width:1px !important;
	}
}

.btn-secondary, .joforce-enable.btn-default, .joforce-detailview-btn .btn-default, .widget_header.clearfix .btn-default, .addCondition .btn-default{
	border-width:1px !important;

	&:hover, &:focus, &:active{
		border-width:1px !important;
		background:#f6f6f6 !important;
	}	
}

.inputElement.ui-autocomplete-input, .timepicker-default, .ui-autocomplete-input, .input-group span.input-group-addon{
	// border-color:#f2f2f2 !important;
	border-color:#c1bebe !important;
}

.input-group-addon, .input-group-btn, .input-group-addon.relatedPopup, .currencyField, .input-group.inputElement span.input-group-addon, .input-group span.input-group-addon.relatedPopup.cursorPointer, .table.detailview-table.no-border .ajaxEdited .input-group-addon.inlineAjaxCancel{
	border-color:#f2f2f2 !important;
}

.currencyModalContainer{
	.form-group{
		padding-left:15px;

		.fieldLabel{
			border-bottom:1px solid #e8e8e8;
			padding-bottom:2px;
		}
		.red-border{
			top:28px;
		}
	}
}

.editViewBody{
	table{
		tbody{
			tr{
				td.fieldLabel{
					width:25% !important;
				}
				td.fieldValue{
					width:25% !important;
				}
			}
		}
	}	
}

.quickCreateContent{
	.referencefield-wrapper {
		display:inline-block !important;
		.input-group{
			width:100%;
		}
	}
	.fieldLabel{
		margin-top:20px;
		padding-bottom:3px;
		border-bottom:1px solid #f2f2f2;
	}
	.fieldValue{
		margin-top:20px;
	}
	.input-group-addon.relatedPopup.cursorPointer{
		right:0px !important;
	}
	.red-border{
		top:48px;
	}
}

.quickCreateContent.calendarQuickCreateContent{
	.red-border{
		top:28px;
	}
}

.editViewContents .fieldValue .referencefield-wrapper{
	width:100% !important;
}

.fieldValue{
	textarea.inputElement{
		height:30px;
		visibility:visible !important;
	}
}

input[type="checkbox"]{
	width:15px !important;
	height:15px !important;
	// border:1px solid #ccc !important;
	border:1px solid #c1bebe !important;
}

input[type=checkbox]:checked::after{
	content:"\2714" !important;
	top:-4px !important;
	left:1px !important;
}

.select2{
	border-bottom:1px solid #f2f2f2 !important;
	box-shadow:none !important;

}

.inputElement.select2-container{

	box-shadow:none !important;
	border-color:#f2f2f2 !important;
	// border-color:#c1bebe !important;
	font-size:15px;

	.select2-choices{
	height:28px;
	font-size:15px;
	border:none;
	border-radius:0px !important;
	box-shadow:none !important;
	border-color:#f2f2f2 !important;
	background:none !important;
	position:relative;
	top:1px;

	&:hover{
	background:none;
	}
	&:focus{
	border-color:$primary-color;
	box-shadow:none;
	}
	.select2-search-choice{
		font-size:15px;
	}

	}
	.select2-choice{
	height:28px;
	font-size:15px;
	border:none;
	border-radius:0px !important;
	box-shadow:none !important;
	border-color:#f2f2f2 !important;
	background:none !important;
	position:relative;
	top:1px;

	&:hover{
	background:none;
	}
	&:focus{
	border-color:$primary-color;
	box-shadow:none;
	}
	.select2-search-choice{
		font-size:15px;
	}

	}

}

.select2-container{

	box-shadow:none !important;

	.select2-choices{
	height:28px;
	border:none !important;
	border-radius:0px !important;
	box-shadow:none !important;
	background:none !important;
	position:relative;
	top:1px;

	&:hover{
	background:none;
	border-color:#969696 !important;
	}
	&:focus{
	border-color:$primary-color;
	}
	.select2-search-choice{
		font-size:15px;
	}
	}
	.select2-choice{
	height:28px;
	border:none !important;
	border-radius:0px !important;
	box-shadow:none !important;
	background:none !important;
	position:relative;
	top:1px;

	&:hover{
	background:none;
	border-color:#969696 !important;
	}
	&:focus{
	border-color:$primary-color;
	}
	.select2-search-choice{
		font-size:15px;
	}
	}
	.select2-choice.input-error{
		border:none !important;
		border-bottom:1px solid #b94a48 !important;
	}
}
.select2-results .select2-highlighted{
	background:$primary-color !important;
}

.select2-container .select2-choice div{
	background:none !important;
	border:none !important;
}

.select2-drop{
border:1px solid $primary-color !important;
box-shadow:none !important;
}
.select2-drop.select2-drop-above{
border-bottom:1px solid $primary-color;
}
.select2-drop-active{
box-shadow:0px 0px 5px rgba(0,0,0,0.2) !important;
}

.select2-search{

	box-shadow:none !important;

	input{
	box-shadow:none !important;
	border:none;
	border-bottom:1px solid #f2f2f2 !important;
	border-radius:0px !important;
	}
}

.select2-input{
	border:none !important;
	border-bottom:1px solid #f2f2f2 !important;
	border-radius:0px !important;
	box-shadow:none !important;

	&:hover{
	border-color:#969696 !important;
	box-shadow:none;	
	}
	&:focus{
	border-color:$primary-color !important;
	box-shadow:0px 1px 0px 0px rgba(154, 0, 219, 0.3) !important;
	} 
}

.inputElement{
	width:100% !important;
	border:none !important;
	border-bottom:1px solid #f2f2f2 !important;
	// border-bottom:1px solid #c1bebe !important;
	border-radius:0px !important;
	box-shadow:none !important;
	background:none;

	&:hover{
	border-color:#969696 !important;
	// border-color:#0a0a0a !important;
	box-shadow:none;	
	}
	&:focus{
	border-color:$primary-color !important;
	} 
}

.select2-choices{
	border:none !important;
	box-shadow:none !important;
	border-bottom:1px solid #e8e8e8 !important;	
}

.select2-container.select2-container-multi.select2.inputElement.select2-dropdown-open{
	border-color:$primary-color !important;
}

.inputElement.input-error{
	border:none !important;
	background:none !important;
	border-bottom:1px solid #b94a48 !important;
}

.inputElement:focus, .timePicker:focus, .dateField:focus, textarea:focus, .input-group.inputElement input:focus{
	box-shadow:none !important;
}

.input-group{
	min-width:100px !important;
	 .inputElement.dateField, .inputElement.input-percent{
	 	width:100% !important;
		border:none;
		font-size:15px;
		border-bottom:1px solid #f2f2f2;
		border-radius:0px !important;
		box-shadow:none !important;
		background:none !important;

		&:hover{
		border-color:#969696 !important;
		box-shadow:none;	
		}
		&:focus{
		border-color:$primary-color !important;
		}
	}
}

.fieldBlockContainer{
	.fieldValue{
		.input-group{
			width:100% !important;
			.inputElement{
				width:100% !important;
			}
			.input-group-addon.date-icon, .input-group-addon.percent-icon, .input-group-addon.time-icon{
				position:relative;
				right:0px;
			}
			.createReferenceRecord{
				right:0px !important;
				bottom:0px;
			}
			.input-group-addon.relatedPopup.cursorPointer{
				right:25px !important;
				 border-color:#f2f2f2 !important;
				// border-color:#c1bebe !important;
			}
		}
	}
}

.input-group-addon{
	border:none;
	background:none;
	border-bottom:1px solid #f2f2f2;
	border-radius:0px !important;
}

.input-group.inputElement{
	.input-group-addon{
		border-left:none !important;
		border-radius:0px !important;
	}
}

.referencefield-wrapper{
	.createReferenceRecord{
		border:none !important;
		background:none !important;
		 border-bottom:1px solid #f2f2f2 !important;
		// border-bottom:1px solid #c1bebe !important;
		padding:5px 8px !important;
		position:relative;
		right:10px;
	}
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color:none !important;
}

.form-control{
	&:hover{
	box-shadow:none;
	}
}

.inputElement.currencyField, #Leads_editView_fieldName_annualrevenue{
	width:100% !important;
}

.editViewContents .input-group{
	width:100% !important;
}

.marginLeftZero.autoComplete.inputElement.ui-autocomplete-input{
	width:100% !important;
}
.fieldValue .referencefield-wrapper.selected .input-group .inputElement{
	width:100% !important;
}

.form-control[disabled]:hover{
	border:none !important;
}

.clearReferenceSelection{
	position:absolute;
	top:-2px;
	right:50px;

	&:hover, &:focus{
		color:$primary-color !important;
	}
}

.inputElement.select2.name-prefix{
	width:30% !important; 	
	margin-top:-4px;
}

.referencefield-wrapper .createReferenceRecord{
	margin-top:0px !important;
	position:absolute;
	right:0px;
}
.input-group-addon.relatedPopup.cursorPointer{
	position:absolute;
	right:20px;
	width:25px;
	top:1px;
}
.timepicker-default.form-control.inputElement.ui-timepicker-input{
	width:100% !important;
	font-size:15px;
}

.modal-body{
	.quickCreateContent{
		.massEditTable{
			.input-group-addon.relatedPopup.cursorPointer{
				right:0px;
			}
			.clearReferenceSelection{
				right:60px;
			}
			.inputElement{
				width:100% !important;
			}
			.joforce-form .inputElement.currencyField,{
				width:100% !important;
			}
			.input-group.time{
				.timepicker-default.form-control.inputElement.ui-timepicker-input{
					width:100% !important;
				}
			}
			.referencefield-wrapper{
				width:100% !important;
				display:inline-table !important;
				.input-group{
					width:100% !important;
				}
			}
			.inputElement.select2.name-prefix{
				width:78px !important;
			}
		}
	}
}

.quickCreateContent .referencefield-wrapper{
	width:100% !important;
}

div[name="massEditContent"], #addFolderContainer{
	.modal-body{
		.form-group{
			padding-left:20px;
			.fieldLabel.control-label{
				border-bottom:1px solid #e8e8e8 !important;
				padding-bottom:11px;
			}
			.fieldValue{
				margin-top:9px;
			}
		}
	}
}

#addFolderContainer{
	.modal-body{
		.form-group{
			padding-left:20px;
			.fieldLabel.control-label{
				border-bottom:1px solid #e8e8e8 !important;
				padding-bottom:11px;
			}
			.fieldValue{
				margin-top:9px;
			}
		}
	}
}

.summaryViewEntries{
	.input-group.editElement{
		width:92% !important;
		margin-top:1px;
	}
	td.fieldValue{
		.inputElement{
			top:3px;
		}
	}
}

.summaryViewEntries{
	.input-group{
		.marginLeftZero.autoComplete.inputElement.ui-autocomplete-input{
			width:100% !important;
		}
		.inputElement.currencyField, #Leads_editView_fieldName_annualrevenue{
			width:100% !important;
		}
		.inputElement.dateField, .inputElement.input-percent{
			width:100% !important;
		}
		.input-group-addon{
			position:relative;
			top:4px;
		}
	}
}

table.summary-table-ui{
	tbody{
		tr{
			td.fieldLabel{
				width:10%;

				.fa{
					font-size:20px;
				}
			}
			td.fieldValue{
				width:80%;
			}
			.input-save-wrap .input-group-addon-save, .input-save-wrap .input-group-addon-cancel{
				top:2px;
			}
		}
	}
}

.lineItemInputBox{
	float:left !important;
}

.detailview-table{
	.input-group{
		width:100% !important;

		.marginLeftZero.autoComplete.inputElement.ui-autocomplete-input{
			width:100% !important;
		}
		.inputElement.currencyField, #Leads_editView_fieldName_annualrevenue{
			width:100% !important;
		}
		.inputElement.dateField, .inputElement.input-percent{
			width:100% !important;
		}
		.inputElement{
			width:100% !important;
		}
		.input-group{
			width:80% !important;
			.inputElement{
				width:100% !important;
			}
		}
		
	}
	.input-save-wrap{
		position:relative;
		bottom:1px;
	}
}

.fieldLabel{
	font-size:15px !important;
}

.summaryView .referencefield-wrapper{
	max-width:100% !important;
}


#detailView{
	td.fieldValue{
		border-bottom:1px solid #f2f2f2;
		padding-bottom:0px;
		padding-left:0px;
		padding-right:0px; 
		.action{
			position:relative !important;
			right:0;
			float:right;
		}
		.edit{
			width:100% !important;
		}
		.inputElement{
			width:80% !important;
		}
		textarea.inputElement{
			width:100% !important;
			visibility:visible !important;
		}
		.inputElement.dateField{
			width:75% !important;
		}
		.input-group{
			width:100%;
			.input-group{
				.inputElement{
					width:100% !important;
				}
			}
		}
		.input-group-addon.relatedPopup.cursorPointer{
			right:0px !important;
			z-index:1000;
		}
		.clearReferenceSelection{
			z-index:1000;
			right:30px;
			bottom:0px;
		}
		input[type="checkbox"]{
			width:15px !important;
		}
	}
	td.fieldLabel{
		margin-top:15px;
		text-align:left;
	}
	.referencefield-wrapper{
		display:inline;
	}
	.inputElement.percentage-input-element{
		width:100% !important;
	}
}

form[name="EditServerDetails"]{
	.form-group{
		margin-top:30px;
		.serversettings-label{
			color:#989898;
			display:inline-block;
			width:30%;
		}
		.inputElement{
			display:inline-block;
			width:68% !important;
		}
	}
}

.nav-pills.nav-wizard > li{
	a{
		width:95px;
		padding:12px 3px !important;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		&::before, &::after{
			display:none;
		}
	}
}

.nav-pills.nav-wizard > li:not(:first-child)::before{
	position: absolute;
	content: "";
	top: 0px;
	left: -20px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 25px 20px;
	border-color: #eee #eee #eee transparent;
	z-index: 150;
}

.nav-pills.nav-wizard > li:not(:first-child){
	&:hover{
		&::before{
			border-color: #aaa #aaa #aaa transparent;
		}
		&::after{
			border-color: transparent transparent transparent #aaa;
		}
	}
}

.nav-pills.nav-wizard > li:not(:last-child)::after{
	position: absolute;
	content: "";
	top: 0px;
	right: -20px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 25px 20px;
	border-color: transparent transparent transparent #eee;
	z-index: 1
}

.nav-pills.nav-wizard > li.active a{
	background:#a0a0a0 !important;
}
.nav-pills.nav-wizard > li.active:not(:last-child)::after{
	border-color: transparent transparent transparent #a0a0a0;
}
.nav-pills.nav-wizard > li.active:not(:last-child)::before{
	border-color:#a0a0a0 #a0a0a0 #a0a0a0 transparent;
}
.nav-pills.nav-wizard > li.completed:not(:first-child)::before{
	border-color:#00A65A #00A65A #00A65A transparent;
}
.nav-pills.nav-wizard > li.completed:not(:last-child)::after{
  	border-color:transparent transparent transparent #00A65A;
}
.nav-pills.nav-wizard > li.lost:not(:first-child)::before{
	border-color:#dd4b39 #dd4b39 #dd4b39 transparent;
}

.qtip-content{
	font-size:15px !important;
}

.reportContents, .model-body-scrollenabled{
	.form-group{
		.fieldLabel{
			border-bottom:1px solid #efefef;
			padding-bottom:2px;
		}
		.red-border{
			top:28px;
		}
	}
}

.add-main-menu-content label.fieldLabel {
  border-bottom: 1px solid #e8e8e8;
  display: block;
  padding-bottom: 8px; }

@media screen and (max-width:700px){
	.editViewContents .fieldLabel{
		border-bottom:none;
		margin-bottom:0px;
		white-space:normal;
	}	
	.red-border{
		top:20px;
	}
	.editViewPageDiv.viewContent{
		width:100%;
		padding-right:50px;
	}
}

@media screen and (min-width:701px) and (max-width:1200px){
	.editViewPageDiv.viewContent{
		width:100%;
		padding-right:50px;	
	}
}