/*Language Editor Section UI Start*/
#languageEditorDiv
{
    display:inline-block;
    width:100%;
     .labels-content
     {
            position:relative;
            cursor:pointer;
               &:hover
               {
                  background-color:#f9f9f9;
               }     
     }
    .table
    {
        width:95%;
        margin-left:33px;
        tbody>tr:first-child
        {
           border-top:none;
        }
        tbody>tr>td
         {
          width:50%;
            input
            {
               background:transparent;
            }
         }
         &.picklist thead 
         {
            &:first-child
            {
                width:50%;
            }
         }

    }
    .row
    {
      margin-right:0px;
      margin-left:0px;
    }
    h3
    {
       font-weight:400;
       font-size:16px;
       line-height:1.1;
       margin:0px;
       padding: 20px 10px;
       border-bottom:1px solid #ededed;
    }
    .language-editor-module .toggle-icon
    {
        position:absolute;
        right:1%;
        top:22px;
        &.rotate
         {
           -moz-transition: all .5s linear;
           -webkit-transition: all .5s linear;
           transition: all .5s linear;
        }
        &.rotate.down
         {
              -moz-transform:rotate(90deg);
             -webkit-transform:rotate(90deg);
              transform:rotate(90deg);
          }
    }

    tbody tr
    {
        &:hover
        {
            background-color: #f9f9f9;
              td{

                .fa.fa-pencil.editor{
                  display:inline-block !important;
                }
            }
        }
        
    }
    thead
    {
      border-bottom: 2px solid #ccc !important;
      .label-button
      {
         display:flex;
         justify-content:space-between;
         align-items:flex-end;
         width: 100%;
      }
      th
      {
          font-size:16px;
          text-transform:none !important;
          color:#000;
          border-bottom:0px !important;
      }

    }
   
   .outside-border
   {
      border:1px solid #ededed;
      border-radius:6px;
      margin-bottom:5px;
   }
   .accordion-heading
   {
      margin:15px 0px;
      display:block;
   }
}



/*Language Editor Section End*/