/*  Custom style for top menubar  */


.nav-responsive, .nav-responsive-tab{
	display:none;
}

.global-nav .app-navigator-container{
	width:80px !important;

	.logo-container{
		img{
			width:45px !important;
		}
	}
}

.search-link{
	padding-right:0px !important;
}
	
.container-fluid.global-nav{
	/* height:50px; */
}

.custom-nav{
	margin-bottom:0px !important;
	z-index:1;

	li{
		display:inline-block;
		/* margin:0px 10px 0px 0px; */

		/*
			a.menu-list{
				color:$primary-color !important;
				background:none;
				&:focus, &:hover{
					color:$primary-color !important;
				}
			}
		*/

		}

		a.menu-list{
			font-size:16px !important;
			font-weight:600;
			padding:10px 7px !important;

			&:hover, &:focus{
				color:#333 !important;
			}
		}

		ul.dropdown-menu{
			width:100%;
		//	max-height:350px;
			top:36px;
			left:0px;
			position:absolute;
		//	overflow-x:hidden;
			word-wrap:break-word;
		//	overflow-y:auto;
		//	&:hover,&:focus
		//	{
		//	   .mega-Menus
		//		{
		//		  display:block;
		//	 
		//		}
		//	}
			 
			  .menu-Header{
                        padding:10px;
						width:100%;
                        font-size:15px;
                        font-weight:bold;
                        cursor:pointer;

                        i{
                              font-size:20px;
                              margin:0px 5px;
                         }
                          &:hover,&:focus{
                          			    background-color: #eee;
                                 .mega-menus{
                                       display:block;

                                             }
                                       }
				@media all and (max-width : 330px) {

	                                               nav ul li {
		                                      display:block;
		                                     width: 94%;
	                                            }

                                               }
                                      //   @media and screen(max-width:768px)
				//	{
				//		display:;
				//	}
				//	 @media and screen(max-width:460px)
                                  //      {
                                    //            display:;
                                      //  }  
          
                                        } 
					   .mega-Menus{
                                                padding:0px !important;
                                                overflow:hidden;
                                                position:absolute;
                                                width:180px;
                                              //        display:none;   
                                               // border:1px solid black;

                                                z-index:999;
                                                top:0px;
                                                left:160px;
						overflow-y:auto;
						max-height:350px;
                                                li{

                                                        width:100%;
                                                        margin:0px !important;
                                                        padding:0px;

                                                        a{
                                                                padding:6px 10px;
                                                                width:100%;
                                                                font-size:14px !important;
                                                                display:inline-block;
                                                                font-weight:normal !important;
                                                                white-space:normal;
                                                                i{
                                                                        font-size:18px;
                                                                }
                                                        }
                                                        &:hover, &:focus{
                                                                a{

                                                                        color:$primary-color;
                                                                        background-color:white;

                                                                }

                                                            @media all and (max-width : 330px) {

                                                                  	nav ul li {
		                                                       display:block;
                                                             		width: 94%;
	                                                               }

                                                                }
      							// @media and screen(max-width:768px)
                                                        // {
                                                          //    display:;
                                                          // }
						//	 @media and screen(max-width:768px)
                                                  //       {
                                                    //          display:;
                                                      //   }  
  

                                                        }
                                                }
                                        }
 
		//	&.mega-Menus
		//	{
		//	width:100px;
		//	position:relative;
		//	top:-39px;
		//	left:160px;
		//	display:none;
		//	}
		//	li
		//	{
		//	display:block;
		//	}
		}

		.mega-menu-container{
		width:100%;
		height:auto;
		max-height:280px;
		background:#fff;
		
		/* border-top:3px solid $primary-color; */
		border-bottom:none;

			ul.mega-menu-split{
				li.menu-content{
					width:100%;
					height:45px;
					border-right:1px solid #f2f2f2;
					border-bottom:1px solid #f2f2f2;
					display:flex;
					flex-direction:column;
					padding:0px;
					margin:0px;
					overflow:hidden; 

					.menu-Header{
						padding:10px;
						
						font-size:15px;
						font-weight:bold;

						i{
							font-size:20px;
							margin:0px 5px;
						}
						 &:hover,&:focus{
						 	

                                 .mega-menus{
                                     display:block;
				                         } 
                                        }

					}					
					.mega-Menus{
						padding:0px !important;
						overflow:hidden;						
		                                position:absolute;		
						width:100%;
					      // 	display:none;	
						border:1px solid black;
						
						z-index:999;
						top:50px;
						left:200px;
						li{
							
							width:100%;
							margin:0px !important;
							padding:0px;
						
							a{
								padding:6px 10px;
								width:100%;
								font-size:14px !important;
								display:inline-block;
								font-weight:normal !important;

								i{
									font-size:18px;
								}
							}
							&:hover, &:focus{
								a{

									color:$primary-color;
									background-color:white;
								
								}
							}
						}
					}
				}
			}
		}
	}

	li.custom-menu-list.active{
		background:#f5f5f5;
		a.menu-list{
			/* color:$primary-color !important; */
		}
	}
	li.custom-menu-list{
		&:hover, &:focus{

			background:#f5f5f5;

			a.menu-list{
				background:none;
		}
	}
}

.avatar-circle{
	text-transform:uppercase;
}


li{
	ul.dropdown-menu.profile-dropdown{
		position:absolute;
		top:45px;
		width:350px;
		height:200px;
		right:3px !important;
		padding:0px !important;

		.profile-info{
			position:relative;
			.profile-header{
				width:100%;
				height:30px;
				padding:5px 10px;
				font-size:13px;
				border-bottom:1px solid #f1f1f1;
			}
			.profile-content{
				width:100%;
				height:120px;
				padding:5px 10px;
				border-bottom:1px solid #f1f1f1;
				vertical-align:middle;

				p{
					overflow:hidden;
					text-overflow:ellipsis;
						a{
						padding:4px;

						&:hover{
							color:#fff !important;
						}
					}
				}

				img{
					width:80px;
					height:80px;
					border-radius:50%;
				}
				.profile-logo{
					.user-image{
						width:100px;
						height:100px;
						border-radius:50%;

						.avatar-circle{
							font-size:50px;
							position:relative;
							top:15px;
							text-align:center;
							text-transform:uppercase;
						}
					}
				}
			}
			.profile-footer{
				width:100%;
				height:50px;
				padding:5px 10px;
				border-bottom:1px solid #f1f1f1;

				a{
					padding:4px;

					&:hover{
						color:#333 !important;
					}
				}
				.user-settings{
					padding:8px 5px;
					font-size:15px;
					position:absolute;
				}
				.btn-secondary{
					&:hover{
						color:#fff !important;
					}
				}
			}
		}
	}
}

li.dropdown{
	a.dropdown-toggle{
		.profile-img{
			img.user-image{
				background:none !important;
			}
		}
	}
}

.modal-dialog.modal-lg.addModuleContainer{
	.modal-body.form-horizontal{
		span.btn-group{
			   margin-right:10px;
			   margin-bottom:10px;
			.btn.addModule{
				&:focus, &:active{
					background:lighten($primary-color , 20%) !important;
				}
			}
			.btn.addModule.selectedModule{
				background:$primary-color !important;
			}
		}
	}
}

/*  style for custom menu choosing option  */

.menu-box{
	width:100%;
	height:auto;
	// border:1px solid #f2f2f2;
	padding:15px;
	background:#fff;
	// box-shadow:1px 1px 8px 1px rgba(0, 0, 0, 0.1);
	box-shadow:1px 1px 20px rgba(0, 0, 0, 0.1);
	.custom-menu-header, .more-menu-list-header{
		width:100%;
		color:#333;
		margin:0px 0px 20px 0px;
		font-size:15px;

		.dropdown-menu{
			padding:0px;
			left:40%;

			li{
				padding:0px;
				a{
					padding:10px 10px;
				}
			}
		}
		.dropdown-menu.main-menu-dropdown
		{
			left:66%;
			top:60%;
		}

		i{
			cursor:pointer;
		}
	}

	.custom-menu{
		padding:0px;
		list-style:none;

		li.custom-menu-list{
			width:100%;
			height:45px;
			padding:10px;
			// background:#303030;
			// color:#d2d2d2;
			background:#fff;
			color:#000;
			border:1px solid #e6e6e6;
			cursor:pointer;
			font-size:16px;
			margin:5px 0px;

			.menu-name{
				width:80%;
				overflow:hidden;
				white-space:nowrap;
				text-overflow:ellipsis;

				i{
					font-size:20px;
				}
			}

			&:hover{
				// color:#fff;
				color:#000 ;
				font-weight:500;
				background:#eee;
				.fa.fa-close
				{
					display:block;
				}
			}
		}
		.fa.fa-close
		{
			display:none;
		}
	}

	.more-menu-section{
		padding:0px;
		list-style:none;

		li.more-menu-list{
			width:45%;
			padding:10px;
			border:1px solid #f4f4f4;
			display:inline-table;
			margin:1% 2.3%;
			border-radius:5px;

			.more-menu{
				padding:0px;
				list-style:none;

				li{
					width:100%;
					height:45px;
					padding:10px;
					// background:#303030;
					// color:#d2d2d2;
					background:#fff;
					color:#000;
					border:1px solid #e6e6e6;
					cursor:pointer;
					font-size:16px;
					margin:5px 0px;


					.menu-name{
						i{
							font-size:20px;
						}
					}

					&:hover{
						color:#000;
						background:#eee;
						font-weight:500;
						.pull-right.whiteIcon.menuEditorRemoveItem.fa.fa-close
						{
							display:block;
						}
					}
				}
				.pull-right.whiteIcon.menuEditorRemoveItem.fa.fa-close
				{
					display:none;
				}
			}
		}
	}
}

.user-image-mobile{
	display:none;
}


@media screen and (max-width:800px){
	.custom-nav{
		display:none;
		width:60%;
		height:100vh;
		background:RGBA(33, 33, 33, 0.9);
		position:absolute;
		right:0px;
		z-index:2;
		li{
			display:block;
			text-align:right;
			a.menu-list{
				color:#c2c2c2;
			}
			&:hover{
				a.menu-list{
					color:#fff;
				}
			}
		}
		li.custom-menu-list{
			&:hover{
				a.menu-list{
					color:#fff !important;
				}
			}
			a{
				&:hover{
					color:#fff !important;
				}
			}
		}
		ul.dropdown-menu{
			width:auto;
			overflow-y:auto;
			left:0px !important;
			li.menu-content{
				width:50% !important;
				height:auto !important;
				text-align:left;
				min-height:250px !important;

				.menu-header{
					border-top:1px solid #e8e8e8;
				}
				.mega-menus{
					li{
						text-align:left;
					}
				}
			}
		}
	}
	.nav-responsive{
		display:block;
		position:absolute;
		bottom:10px;
		right:25px;
		z-index:1;
		cursor:pointer;
	}
	.user-image-mobile{
		display:block !important;
		position:absolute;
		right:50px;
		bottom:10px;

		li.dropdown{
			list-style:none;
			ul.dropdown-menu{
				left:40px !important;
				position:fixed;
			}
		}
	}
}

@media screen and (min-width:801px) and (max-width:1200px){
	.custom-nav{
		display:none;
		position:absolute;
		background:#fff;
		z-index:1000;
		top:45px;
		box-shadow:0px 0px 2px rgba(0,0,0,0.1);

		ul.dropdown-menu{
			overflow-y:auto;
			left:0px !important;
		}

		li{
			display:inherit;
			margin:0px;
			a{
				padding:10px 30px 10px 10px !important;
			}
			.menu-header{
				border-top:1px solid #e8e8e8;
			}
		}
	}
	.nav-responsive-tab{
		display:block;

		ul{
			margin-bottom:0px !important;
			li{
				padding:10px;
				cursor:pointer;
			}
		}
	}
}
