

/*  Custom style for on-boarding  */

.modal.on-board{
	width:700px;
	max-height:600px !important;
	height:600px !important;
	left:43%;
	top:42%;
	border-radius:0px;
	outline:none;
	overflow:hidden;

	.modal-header{
		background:#fff !important;
		height:40px;

		.modal-title{
			text-align:center;
			color:#000 !important;
		}
	}

	.modal-body{
		overflow:hidden;
		overflow-y:auto;
		height:530px;

		.modal-detail{
			padding-bottom:70px;
			.form-horizontal .control-label{
				text-align:left;
			}
			.form-group{
				position:relative;
				margin-top:20px;
				.fieldLabel{
					.red-border{
						left:40px !important;
						top:30px !important;
					}
				}
				.fieldValue{
					.inputElement{
						width:60% !important;
					}
				}
			}
			table{
				tbody{
					tr{
						margin-top:20px;
						td{
							border:none;
							position:relative;

							.red-border{
								left:8px;
								top:30px;
							}

							&:hover{
								background:none !important;
							}
						}

						&:hover{
							background:none !important;

							td{
								background:none !important;
							}
						}
					}
				}
			}

			.span4{
				width:80%;
				margin-left:10%;

				.controls{
					margin-top:20px;
					.inputElement{
						width:90% !important;
					}
				}
			}
		}
	}
	.modal-footer{
		position:absolute;
		width:95.5%;
		bottom:0px;
	}
}

