

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .settingsgroup.search-settings
   {
  	    position:relative;
        left:40%;
        background-color:transparent !important;
   }
   .module-action-content #accordion
   {
     	position:absolute;
   	    top:3%
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .settingsgroup.search-settings {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .settingsgroup.search-settings {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .settingsgroup.search-settings {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .settingsgroup.search-settings {background: pink;}
}