

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');



$primary-color:#0444a7;

$admin-icon-color:#7a7a7a;

$table-link-color:#26A149;


$font-primary: 'Open Sans', sans-serif;

$header-font: 'Roboto Slab', serif;
