<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="iframe">
<script type="text/javascript" src="../../../layouts/modules/EmailPlus/resources/checkServerInfo.js"></script>

<h1 class="boxtitle"><roundcube:label name="contactproperties" /></h1>

<div id="contact-details" class="boxcontent">
	<roundcube:if condition="strlen(env:sourcename)" />
		<div id="sourcename"><roundcube:label name="addressbook" />: <roundcube:var name="env:sourcename" /></div>
	<roundcube:endif />

	<div id="contactphoto"><roundcube:object name="contactphoto" id="contactpic" placeholder="/images/contactpic.png" placeholderGroup="/images/contactgroup.png" /></div>
	<roundcube:object name="contacthead" id="contacthead" />
	<br style="clear:both" />

	<div id="contacttabs" class="tabbed">
		<roundcube:object name="contactdetails" />
	</div>

</div>

<div id="headerbuttons" class="formbuttons">
	<roundcube:button command="edit" type="input" class="button mainaction" label="editcontact" condition="!ENV:readonly" />
	<select id="create_record" style="margin-left: 30px; width: 100px;" name="create_record">
           <option>select</option>
	   <option value="Contacts">Add Contact</option>
           <option value="Leads">Add Lead</option>
           <option value="Accounts">Add Organization</option>
        </select>


</div>

<roundcube:include file="/includes/footer.html" />
</body>
</html>
